<!-- <div *ngIf="availableDevices">
  <select (change)="onDeviceSelectChange($event.target.value)">
      <option value="" [selected]="!selectedDevice">No Device</option>
      <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
  </select>
</div> -->

<nz-card [nzSize]="'small'" id="searchBar">

  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
    <nz-form-item>
      <nz-form-label [nzFor]="'DELIVERY_NUM'">出貨單號</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="出貨單號" [formControlName]="'DELIVERY_NUM'" [attr.id]="'DELIVERY_NUM'"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item hidden>
      <nz-form-label [nzFor]="'DELIVERY_L_ID'">出貨項次</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="出貨項次" [formControlName]="'DELIVERY_L_ID'" [attr.id]="'DELIVERY_L_ID'"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">搜索</button>
        <!--<button nz-button nzType="outline" type="button" class="ml-10"
          (click)="resetSearchForm()">
    重置
  </button>-->
      </nz-form-control>
    </nz-form-item>
    <!-- <zxing-scanner
  #scanner
  [formats]="['QR_CODE', 'EAN_13']"
  (camerasFound)="cameraFound($event)"
  (camerasNotFound)="camerasNotFound($event)"
  (scanSuccess)="onScanSuccess($event)"
>
</zxing-scanner> -->
<button nz-button [nzType]="'primary'" (click)="showModal()"><span>掃描Qr Code</span></button>
<button nz-button [nzType]="'primary'" (click)="receive()" style="margin-left: 20px;" *canOperate="'RC_CONFIRM'"><span>確認收貨</span></button>
  </form>
  <!-- <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner> -->

  <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)" cssClass="small-video" (camerasFound)="camerasFoundHandler($event)"></zxing-scanner>
    </ng-container>
  </nz-modal>



<section class="results" *ngIf="qrResultString">
  <div>
    <small>Result</small>
    <strong>{{ qrResultString }}</strong>
  </div>
  <button mat-icon-button (click)="clearResult()">&times;</button>
</section>
</nz-card>

<nz-card>
  <nz-table #basicTable [nzData]="rowData" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>項次</th>
        <th>物料</th>
        <th>物料說明</th>
        <th>採購單號</th>
        <th>採購項次</th>
        <th>數量</th>
        <th>單位</th>
        <th>工單號碼</th>
        <th>工單項次</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data;let i=index">
        <td>{{ i+1 }}</td>
        <td>{{ data.Matnr }}</td>
        <td>{{ data.Description }}</td>
        <td>{{ data.PoNum }}</td>
        <td>{{ data.PoLId }}</td>
        <td>{{ data.DeliveryQty }}</td>
        <td></td>
        <td>{{ data.WoNum }}</td>
        <td>{{ data.WoItem }}</td>
        <!-- <td>
          <a>Action 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
</nz-card>
