<div class="two-column" colon={false}>
  <div class="right">
    <!--搜索欄-->
    <nz-card [nzSize]="'small'" id="searchBar">
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="add()">
        <nz-form-item>
          <nz-form-label [nzFor]="'srm_vendor'">SRM供應商代碼</nz-form-label>
          <nz-form-control nzErrorTip="欄位必填">
            <input nz-input placeholder="SRM供應商代碼" [formControlName]="'srm_vendor'" [attr.id]="'srm_vendor'"
                   autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">新增</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
    <nz-card [nzSize]="'small'" id="addBar" style="display:block" >
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" >
          <nz-form-item>
            <nz-form-label [nzFor]="'companyid'">公司代碼</nz-form-label>
            <nz-form-control nzErrorTip="欄位必填">
              <input nz-input placeholder="公司代碼" [formControlName]="'companyid'" [attr.id]="'companyid'"
                     autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzFor]="'vendorname'">供應商名稱</nz-form-label>
            <nz-form-control nzErrorTip="欄位必填"> 
              <input nz-input placeholder="供應商名稱" [formControlName]="'vendorname'" [attr.id]="'vendorname'"
                     autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzFor]="'werk'">採購組織</nz-form-label>
            <nz-form-control nzErrorTip="欄位必填">
                <nz-select nzPlaceHolder="请選擇" [attr.id]="'werk'" [formControlName]="'werks'" style="width: 76px;">
                    <nz-option *ngFor="let werk of werks" [nzValue]="werk" [nzLabel]="werk"></nz-option>
                </nz-select>
            </nz-form-control>
          </nz-form-item>
      </form>
      <br/>
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" >
          <nz-form-item>
            <nz-form-label [nzFor]="'person'">聯絡人</nz-form-label>&nbsp;&nbsp;&nbsp;&nbsp;
            <nz-form-control nzErrorTip="欄位必填"> 
              <input nz-input placeholder="聯絡人" [formControlName]="'person'" [attr.id]="'person'"
                     autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzFor]="'address'">地址</nz-form-label>
              <nz-form-control nzErrorTip="欄位必填">
                <input nz-input placeholder="地址" [formControlName]="'address'" [attr.id]="'address'"
                       autocomplete="off"  style="width: 350px;"/>
              </nz-form-control>
          </nz-form-item>
      </form>


      <br/>
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" >
          <nz-form-item>
            <nz-form-label [nzFor]="'cellphone'">手機號碼</nz-form-label>
            <nz-form-control nzErrorTip="欄位必填">
              <input nz-input placeholder="電話號碼" [formControlName]="'cellphone'" [attr.id]="'cellphone'"
                     autocomplete="off"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzFor]="'email'">信箱</nz-form-label>
              <nz-form-control nzErrorTip="欄位必填">
                <input nz-input placeholder="信箱" [formControlName]="'email'" [attr.id]="'email'"
                       autocomplete="off" style="width: 350px;"/>
              </nz-form-control>
          </nz-form-item>
      </form>
      <br/>
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" >
          <nz-form-item>
            <nz-form-label [nzFor]="'telphone'">電話號碼</nz-form-label>
            <nz-form-control nzErrorTip="欄位必填">
              <input nz-input placeholder="電話號碼" [formControlName]="'telphone'" [attr.id]="'telphone'"
                     autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzFor]="'ext'">分機</nz-form-label>
              <nz-form-control nzErrorTip="欄位必填">
                <input nz-input placeholder="分機" [formControlName]="'ext'" [attr.id]="'ext'"
                       autocomplete="off" style="width: 112px;"/>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzFor]="'faxnumber'">傳真號碼</nz-form-label>
            <nz-form-control nzErrorTip="欄位必填">
              <input nz-input placeholder="傳真號碼" [formControlName]="'faxnumber'" [attr.id]="'faxnumber'"
                     autocomplete="off" />
            </nz-form-control>
        </nz-form-item>
      </form>

    </nz-card>
  </div>
  
</div>
