<div class="two-column">
  <div class="right">
    <nz-card [nzSize]="'small'">
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
        <nz-form-item>
          <nz-form-label>工序</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="工序" formControlName="process"
                   autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button *canOperate="'process-manage'" nz-button nzType="primary">搜索</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
    <nz-card [nzSize]="'small'" style="height: auto;">
      <button *canOperate="'RFQ_ACTION'" nz-button class="mr-10" (click)="open(AddHeader,AddContent)">
        <i nz-icon nzType="plus"></i>新增工序
      </button>
      <button *canOperate="'process-manage'" nz-button class="mr-10" (click)="refresh()"><i nz-icon nzType="sync"></i>刷新</button>
      <div class="mt-10">
        <nz-table #dataTable nzSize="middle" [nzData]="data" nzShowPagination="false" nzFrontPagination="false"
                  nzBordered="true" pagination="true">
          <thead>
            <tr>
              <th nzAlign="center" nzWidth="40px">工序</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataTable.data;let i = index">
              <td nzAlign="center">{{ data.process }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="mt-10">
        <nz-pagination [(nzPageSize)]="size" [(nzPageIndex)]="page" [nzTotal]="total" nzShowSizeChanger
                       nzShowQuickJumper (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="sizeChange()">
        </nz-pagination>
      </div>

    </nz-card>
  </div>
</div>



<ng-template #AddHeader>
  <span>新增工序</span>
</ng-template>
<ng-template #AddContent>
  <form nz-form [formGroup]="addForm">
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">工序</nz-form-label>
      <nz-form-control nzErrorTip="欄位必填">
        <input nz-input placeholder="工序" formControlName="process"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button *canOperate="'RFQ_ACTION'" nz-button [nzType]="'primary'" (click)="add()"
                style="margin-top: 16px" class="mr-10">
          提交
        </button>
        <button nz-button type="reset" (click)="cancelEdit()">取消</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
