<body style="color: black; ">
  <div>
    <!--<div id="_header" class="parent"
      style="height: 60px; width: 1000px; background-color: #45a1ec; border-radius: 5px;">
      <h1 id="heading001"
        style=" font-weight: bold; font-style: inherit; font-family: 微軟正黑體; font-size: 30px;text-align:center;">
        報價作業<span style="font-size:12px;right:0px;float:right;">詢價單號:QOT00000012<br>狀態:初始</span><span
          style="float:left;font-size:12px;text-align: left;">申請日期:2021/07/13 11:13:38<br>填單者:陳嘉融</span></h1>
    </div>-->
    <!--<h1 style=" margin-left: 750px;"> 報價作業</h1>-->
    <br>

    <!--<mat-form-field appearance="fill">
      <mat-label>料號</mat-label> 
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>-->
    <div class="two-column">

      <div class="left">
        <nz-card [nzSize]="'small'">
          <!--<button nz-button class="mb-10" (click)="refreshtree()"><i nz-icon nzType="sync"></i>刷新数据</button>-->
          <nz-card [nzSize]="'small'">
            <form nz-form [formGroup]="matnrList">
              <nz-form-item>
                <!--<nz-select style="width: 20%"
                     nzShowSearch
                     formControlName="selectedMatnr"
                     (ngModelChange)="search()">
            <nz-option *ngFor="let item of matnrs" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
          </nz-select>-->
                <nz-tree [nzData]="nodes" nzShowIcon="true" (nzClick)="changedMatnr($event)"
                  [nzExpandedIcon]="mutiExpandedIconTpl">
                  <ng-template #mutiExpandedIconTpl let-node>
                    <i *ngIf="!node.origin.isLeaf" nz-icon [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'"
                      style="color: lightgray;"></i>
                    <i *ngIf="node.origin.isLeaf" nz-icon nzType="team" class="ant-tree-switcher-line-icon"></i>
                  </ng-template>
                </nz-tree>
              </nz-form-item>
            </form>
          </nz-card>
          <!--<app-department-tree #tree (selectedNodeChanged)="selectedChanged($event)"></app-department-tree>-->
        </nz-card>
      </div>
      <div class="right">
        <form nz-form [formGroup]="info1">
          <nz-card [nzSize]="'middle'" id="info1">
            <nz-form-item>
              <div>
                <div style="margin: 0px auto;">
                  <table style="  text-align: left;">
                    <tr>
                      <td class="content2" id="tdcreateddate">建立日期</td>
                      <td class="content2" id="tdcreatedby">建立人員</td>
                      <td class="content2" id="tdstatus">狀態</td>
                      <td class="content2" id="tdrfqnum">詢價單號</td>
                      <td class="content2" id="tdqotnum">報價單號</td>


                    </tr>
                    <tr id="rowtype2">
                      <td class="content2">

                        <label class="content2" type="text" id="createddate" name="createddate" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].createDate}}</label>

                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="createdby" name="createdby" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].createBy}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="status" name="status" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].status}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="rfqnum" name="rfqnum" disabled
                          value="">{{matnrIndex==null?"":qotv.q[0].rfqNum}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="qotnum" name="qotnum" disabled
                          value="">{{matnrIndex==null?"": qotv.q[matnrIndex].qotNum}}</label>
                      </td>




                    </tr>
                  </table>
                  <br>
                  <table style=" text-align: left;">
                    <tr>
                      <td class="content2" id="tdmatnr">料號</td>
                      <td class="content2" id="tdmatnrname">物料內文</td>
                      <td class="content2" id="tdmaterial">材料規格</td>
                      <td class="content2" id="tdsize">成品尺寸</td>
                      <td class="content2" id="tdweight">工件重量(KG)</td>

                    </tr>
                    <tr id="rowtype2">
                      <td class="content2">
                        <label class="content2" type="text" id="matnr" name="matnr" disabled
                          value="">{{matnrIndex==null?"": qotv.q[matnrIndex].matnr}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="matnrname" name="matnrname" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].description}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="material" name="material" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].material}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="size" name="size" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].size}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="weight" name="weight" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].weight}}</label>
                      </td>


                    </tr>
                  </table>

                  <br>
                  <table style=" text-align: left;">
                    <tr>
                      <td class="content2" id="tdestdeliverydate">期望日期</td>
                      <td class="content2" id="tdunit">數量單位</td>
                      <td class="content2" id="tdpurposeprice">目標價</td>
                      <td class="content2" id="tdmachinename">機種名稱</td>
                      <td class="content2" id="tdamount">數量</td>
                    </tr>
                    <tr id="rowtype2">
                      <td class="content2">
                        <label class="content2" type="text" id="matnrname" name="matnrname" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].estDeliveryDate}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="unit" name="unit" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].unit}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="purposeprice" name="purposeprice" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].purposeprice}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="machinename" name="machinename" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].machineName}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="amount" name="amount" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].qty}}</label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </nz-form-item>
          </nz-card>
        </form>
        <!--<form nz-form [formGroup]="info2">
          <nz-card [nzSize]="'middle'" id="info2">
            <nz-form-item>
              <div>
                <div style="margin: 0px auto;">
                  <table style=" text-align: left;">
                    <tr>
                      <td class="content2" id="tdmatnrname">物料內文</td>
                      <td class="content2" id="tdmaterial">材料規格</td>
                      <td class="content2" id="tdsize">成本尺寸</td>
                      <td class="content2" id="tdweight">工件重量(KG)</td>
                      <td class="content2" id="tdmachinename">機種名稱</td>
                      <td class="content2" id="tdamount">數量</td>
                    </tr>
                    <tr id="rowtype2">
                      <td class="content2">
                        <label class="content2" type="text" id="matnrname" name="matnrname" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].description}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="material" name="material" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].material}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="size" name="size" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].size}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="weight" name="weight" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].weight}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="machinename" name="machinename" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].machineName}}</label>
                      </td>
                      <td class="content2">
                        <label class="content2" type="text" id="amount" name="amount" disabled
                          value="">{{matnrIndex==null?"":qotv.q[matnrIndex].qty}}</label>
                      </td>

                    </tr>
                  </table>
                </div>
              </div>
            </nz-form-item>
          </nz-card>
        </form>-->

        <nz-card [nzSize]="'small'" id="btnBar">
          <div>
            <button id="btnRejectQot" nz-button class="mr-10" (click)="Reject(addRejectTitleTp,RejectContentTp)"
              disabled="{{canModify==false}}"><i nz-icon nzType="close-circle"></i>拒絕報價</button>
            <button id=" btnSaveQot" nz-button class="mr-10" (click)="Save()" disabled="{{canModify==false}}"><i nz-icon
                nzType="save"></i>儲存</button>
            <button id="btnBackQot" nz-button class="mr-10" (click)="BackQot()"><i nz-icon
                nzType="arrow-left"></i>返回</button>
            <button id="btnSendQot" nz-button class="mr-10" (click)="SendQot()" disabled="{{canModify==false}}"><i
                nz-icon nzType="arrow-right"></i>送出</button>
            <!--<button id="btnSendAllQot" nz-button class="mr-10" (click)="checkSendQotAll()"
              disabled="{{canModify==false}}"><i nz-icon nzType="arrow-right"></i>全部送出</button>-->
            <!--<button id="btnRejectQot">拒絕報價</button><button id=" btnSaveQot" style="margin-left:400px;">儲存</button> <button
      id="btnBackQot">返回</button> <button id="btnSendQot" style="margin-left:380px;">送出</button>-->
          </div>
        </nz-card>
        <form nz-form [formGroup]="info3">
          <nz-card [nzSize]="'small'" id="btnBar">
            <div>
              <!--table style=" text-align: left;">
                <tr>
                  <td class="content2" id="tdleadtime">
                    <nz-form-label [nzFor]="'leadtime'">計劃交貨時間</nz-form-label>
                  </td>
                  <td class="content2" id="tdexpiringdate">
                    <nz-form-label [nzFor]="'expiringdate'">有效期限</nz-form-label>
                  </td>
                  <td class="content2"></td>
                  <td class="content2"></td>
                  <td class="content2"></td>
                  <td class="content2"></td>
                </tr>
                <tr id="rowtype2">
                  <td class="content2">
                    <nz-form-control>
                      <input [attr.id]="'leadtime'" formControlName="leadtime" nz-input placeholder="計劃交貨時間"
                        autocomplete="off" disabled="{{canModify==false}}" />
                    </nz-form-control>
                  </td>
                  <td class="content2">
                   
                    <nz-form-control>
                      <nz-date-picker style="width: 200px;" nzPlaceHolder="日期選擇" name="deadLine" [(ngModel)]="H.deadline" disabled="{{canModify==false}}"></nz-date-picker>
                      <nz-date-picker style="width: 160px;" nzPlaceHolder="有效期限" name="expiringdate"
                        formControlName="expiringdate" disabled="{{canModify==false}}"></nz-date-picker>
                    </nz-form-control>
                    <nz-date-picker style="width: 160px;" nzPlaceHolder="有效期限" name="expiringdate" formControlName="expiringdate" disabled="{{canModify==false}}"></nz-date-picker>
                  </td>
                  <td class="content2">
                  </td>
                  <td class="content2">
                  </td>
                  <td class="content2">
                  </td>
                  <td class="content2">
                  </td>

                </tr>
              </table>-->
              <div style="display: -webkit-box;margin-top:20px">
                <div>
                  <form nz-form [nzLayout]="'inline'" [formGroup]="info3">
                    <nz-form-item>
                      <nz-form-label [nzFor]="'leadtime'">計劃交貨時間<br>日曆天</nz-form-label>
                      <nz-form-control>
                        <input required disabled="{{canModify==false}}" nz-input placeholder="計劃交貨時間"
                          formControlName="leadtime" autocomplete="off" value="{{leadtime}}" />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label [nzFor]="'expiringdate'">有效期限</nz-form-label>
                      <nz-form-control>
                        <nz-date-picker [(ngModel)]="expiringdate" required style="width: 160px;" nzPlaceHolder="有效期限"
                          name="expiringdate" formControlName="expiringdate" disabled="{{canModify==false}}">
                        </nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>
                    <!--<nz-form-item>
                  <nz-form-label [nzFor]="'status'">狀態</nz-form-label>
                  <nz-form-control>
                    <label>{{H.viewstatus}}</label>
                  </nz-form-control>
                </nz-form-item>-->

                    <nz-form-item>
                      <nz-form-label [nzFor]="'totalAmount'">總金額</nz-form-label>
                      <nz-form-control>
                        <input value="{{sumMap.get('total')}}" required disabled="true" nz-input placeholder="總金額"
                          formControlName="totalAmount" autocomplete="off" />
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </div>
              </div>
            </div>
          </nz-card>
        </form>
        <!--<p class="line2"><span></span> </p>-->
        <!--<mat-tab-group style="font-family:微軟正黑體;">-->

        <nz-card>
          <!--<mat-tab label="材料明細">-->
          <div>
            <h4>A.材料</h4>

            <button id="btnaddm" nz-button class="mr-10" (click)="addMaterial(addMaterialTitleTp,MaterialContentTp)"
              disabled="{{canModifymaterial==false}}"><i nz-icon nzType="plus"></i>新增材料費用</button>
            <button id="btndeletem" nz-button class="mr-10" (click)="deleteMaterial()"
              disabled="{{canModifymaterial==false}}"><i nz-icon nzType="delete"></i>刪除材料費用</button>
            <!--<section class="example-section">-->
            <mat-checkbox class="example-margin" id="chkreject_material" (change)="checkCheckBoxvalue_M($event)"
              disabled="{{canModify==false}}" [checked]="IfCheck_M">不回填</mat-checkbox>



            <ag-grid-angular #agGrid style="width: 700px; height: 200px;border:solid" id="myGrid"
              [columnDefs]="columnDefs" [suppressDragLeaveHidesColumns]="true"
              [suppressMakeColumnVisibleAfterUnGroup]="true" [rowData]="rowData_Material"
              (gridReady)="onGridReady($event)" [enableCharts]="true" [enableRangeSelection]="true"
              [masterDetail]="true" [undoRedoCellEditing]="true" [undoRedoCellEditingLimit]="5"
              [detailRowAutoHeight]="true" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection" [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            <label style="margin-left: 500px;">材料小計</label>
            <input value="{{sumMap.get('material')}}" style="width: 200px; margin-left: 500px;" disabled="true" nz-input
              formControlName="materialcost" autocomplete="off" />
          </div>
        </nz-card>
        <!--</mat-tab>-->
        <nz-card>
          <!--<mat-tab label="加工">-->
          <div>
            <h4>B.加工</h4>

            <button id="btnaddp" nz-button class="mr-10" (click)="addProcess(addProcessTitleTp,ProcessContentTp)"
              disabled="{{canModifyprocess==false}}"><i nz-icon nzType="plus"></i>新增加工費用</button>
            <button id="btndeletep" nz-button class="mr-10" (click)="deleteProcess()"
              disabled="{{canModifyprocess==false}}"><i nz-icon nzType="delete"></i>刪除加工費用</button>
            <!--<section class="example-section">-->
            <mat-checkbox class="example-margin" id="chkreject_process" disabled="{{canModify==false}}"
              (change)="checkCheckBoxvalue_P($event)" [checked]="IfCheck_P">不回填</mat-checkbox>
            <ag-grid-angular #agGrid style="width: 700px; height: 200px;border:solid" id="myGrid"
              [columnDefs]="columnDefs_PROCESS" [suppressDragLeaveHidesColumns]="true"
              [suppressMakeColumnVisibleAfterUnGroup]="true" [rowData]="rowData_Process"
              (gridReady)="onGridReady_Process($event)" [enableCharts]="true" [enableRangeSelection]="true"
              [masterDetail]="true" [undoRedoCellEditing]="true" [undoRedoCellEditingLimit]="5"
              [detailRowAutoHeight]="true" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection" [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>

            <label style="margin-left: 500px;">加工小計</label>
            <input value="{{sumMap.get('process')}}" style="width: 200px; margin-left: 500px;" disabled="true" nz-input
              formControlName="processcost" autocomplete="off" />

          </div>
          <!--</mat-tab>-->
        </nz-card>
        <nz-card>
          <!-- <mat-tab label="表面處理">-->
          <div>
            <h4>C.表面處理</h4>

            <button id="btnadds" nz-button class="mr-10" (click)="addSurface(addSurfaceTitleTp,SurfaceContentTp)"
              disabled="{{canModifysurface==false}}"><i nz-icon nzType="plus"></i>新增表面處理</button>
            <button id="btndeletes" nz-button class="mr-10" (click)="deleteSurface()"
              disabled="{{canModifysurface==false}}"><i nz-icon nzType="delete"></i>刪除表面處理</button>
            <!--<section class="example-section">-->
            <mat-checkbox class="example-margin" id="chkreject_surface" disabled="{{canModify==false}}"
              (change)="checkCheckBoxvalue_S($event)" [checked]="IfCheck_S">不回填</mat-checkbox>
            <ag-grid-angular #agGrid style="width:700px; height: 200px;border:solid" id="myGrid"
              [columnDefs]="columnDefs_SURFACE" [suppressDragLeaveHidesColumns]="true"
              [suppressMakeColumnVisibleAfterUnGroup]="true" [rowData]="rowData_Surface"
              (gridReady)="onGridReady_Surface($event)" [enableCharts]="true" [enableRangeSelection]="true"
              [masterDetail]="true" [undoRedoCellEditing]="true" [undoRedoCellEditingLimit]="5"
              [detailRowAutoHeight]="true" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection" [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>


            <label style="margin-left: 500px;">表面處理小計</label>
            <input value="{{sumMap.get('surface')}}" style="width: 200px; margin-left: 500px;" disabled="true" nz-input
              formControlName="surfacecost" autocomplete="off" />
          </div>
          <!--  </mat-tab>-->
        </nz-card>
        <nz-card>
          <!--  <mat-tab label="其他費用">-->
          <div>
            <h4>D.其他費用</h4>

            <button id="btnaddo" nz-button class="mr-10" (click)="addOther(addOtherTitleTp,OtherContentTp)"
              disabled="{{canModifyother==false}}"><i nz-icon nzType="plus"></i>新增其他費用</button>
            <button id="btndeleteo" nz-button class="mr-10" (click)="deleteOther()"
              disabled="{{canModifyother==false}}"><i nz-icon nzType="delete"></i>刪除其他費用</button>
            <!--<section class="example-section">-->
            <mat-checkbox class="example-margin" id="chkreject_other" disabled="{{canModify==false}}"
              (change)="checkCheckBoxvalue_O($event)" [checked]="IfCheck_O">不回填</mat-checkbox>
            <ag-grid-angular #agGrid style="width: 700px; height: 200px;border:solid" id="myGrid"
              [columnDefs]="columnDefs_OTHER" [suppressDragLeaveHidesColumns]="true"
              [suppressMakeColumnVisibleAfterUnGroup]="true" [rowData]="rowData_Other"
              (gridReady)="onGridReady_Other($event)" [enableCharts]="true" [enableRangeSelection]="true"
              [masterDetail]="true" [undoRedoCellEditing]="true" [undoRedoCellEditingLimit]="5"
              [detailRowAutoHeight]="true" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection" [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>


            <label style="margin-left: 500px;">其他費用小計</label>
            <input value="{{sumMap.get('other')}}" style="width: 200px; margin-left: 500px;" disabled="true" nz-input
              formControlName="othercost" autocomplete="off" />

          </div>
        </nz-card>
        <form nz-form [formGroup]="info4">
          <nz-card>
            <nz-form-item>
              <nz-form-label [nzFor]="'note'">備註</nz-form-label>
              <nz-form-control>
                <textarea value="{{note}}" [attr.id]="'note'" formControlName="note" nz-input placeholder="備註" rows="2"
                  ng-disabled="all"></textarea>

                <!--<input required disabled="{{canModify==false}}" nz-input placeholder="備註" formControlName="note"
                autocomplete="off" value="{{note}}" />-->
              </nz-form-control>
            </nz-form-item>
          </nz-card>
        </form>
        <!--  </mat-tab>-->
        <!--</mat-tab-group>-->
        <!-- </div>-->


        <table>
          <tr>
            <td rowspan="8"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
<!--材料-->
<ng-template #addMaterialTitleTp>
  <span>材料明細</span>
</ng-template>
<ng-template #MaterialContentTp>
  <form nz-form [formGroup]="editForm_Material" (ngSubmit)="submitMaterialList()">
    <table border="1">
      <tr>
        <td>
          <nz-form-label style="color: black !important;" nzRequired [nzSm]="24" [nzXs]="24"
            [nzFor]="'add_material_name'">素材材質</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_nameErrorTpl">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="素材材質" formControlName="material_name"
              style="width: 94px">
              <nz-option *ngFor="let option of MaterialList" [nzLabel]="option.material" [nzValue]="option.material">
              </nz-option>
            </nz-select>

            <ng-template #material_nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
              <!--<ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>-->
            </ng-template>

          </nz-form-control>

          <!--<nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_nameErrorTpl">
            <nz-select [formControlName]="'material_name'"  style="width: 100px;">
              <nz-option nzValue="1" nzLabel="鐵"></nz-option>
              <nz-option nzValue="2" nzLabel="不鏽鋼"></nz-option>
            </nz-select>
          </nz-form-control>-->
        </td>
      </tr>


      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_length'">長</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_lengthErrorTpl">
            <input [attr.id]="'add_material_length'" formControlName="material_length" nz-input placeholder="長"
              autocomplete="off" (ngModelChange)="checktype($event)" />
            <ng-template #material_lengthErrorTpl let-control>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_width'">寬</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_widthErrorTpl">
            <input [attr.id]="'add_material_width'" formControlName="material_width" nz-input placeholder="寬"
              autocomplete="off" (ngModelChange)="checktype($event)" />
            <ng-template #material_widthErrorTpl let-control>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_height'">高</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_heightErrorTpl">
            <input [attr.id]="'add_material_height'" formControlName="material_height" nz-input placeholder="高"
              autocomplete="off" (ngModelChange)="checktype($event)" />
            <ng-template #material_heightErrorTpl let-control>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_density'">密度</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_densityErrorTpl">
            <input [attr.id]="'add_material_density'" formControlName="material_density" nz-input placeholder="密度"
              autocomplete="off" (ngModelChange)="checktype($event)" />
            <ng-template #material_densityErrorTpl let-control>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_weight'">重量</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_weightErrorTpl">
            <input [attr.id]="'add_material_weight'" formControlName="material_weight" nz-input placeholder="重量"
              autocomplete="off" (ngModelChange)="checktype($event)" [(ngModel)]="material_weight" />
            <ng-template #material_weightErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_price'">材料單價</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_priceErrorTpl">
            <input [attr.id]="'add_material_price'" formControlName="material_price" nz-input placeholder="材料單價"
              autocomplete="off" (ngModelChange)="checktype($event)" [(ngModel)]="material_price" />
            <ng-template #material_priceErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_cost'">材料成本價</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_costErrorTpl">
            <input value="{{m_cost}}" readonly="readonly" [attr.id]="'add_material_cost'"
              formControlName="material_cost" nz-input placeholder="材料成本價" autocomplete="off"
              (ngModelChange)="getcostvalue_m($event)" [ngModel]="material_weight*material_price" />
            <ng-template #material_costErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
              <!--<ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>-->
            </ng-template>

          </nz-form-control>
        </td>
      </tr>

      <!--<tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_totalcost'">總金額</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_totalcostErrorTpl">
            <input [attr.id]="'add_material_totalcost'" formControlName="material_totalcost" nz-input placeholder="總金額"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>-->
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_note'">備註</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_noteErrorTpl">
            <textarea [attr.id]="'add_material_note'" formControlName="material_note" nz-input placeholder="備註"
              rows="2"></textarea>
            <!--<input [attr.id]="'add_material_note'" formControlName="roleName" nz-input placeholder="備註" autocomplete="off" />-->
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button id="btninsert_material" nz-button nzType="primary" class="mr-10">提交</button>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button id="btncancel_material" nz-button type="button" (click)="cancelEdit()">取消</button>
          </nz-form-control>
        </td>
      </tr>
    </table>

  </form>
</ng-template>
<!--加工-->
<ng-template #addProcessTitleTp>
  <span>加工明細</span>
</ng-template>
<ng-template #ProcessContentTp>
  <form nz-form [formGroup]="editForm_Process" (ngSubmit)="submitProcessList()">
    <table border="1">
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_no'">工序</nz-form-label>
        </td>
        <td>
          <!--<nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_noErrorTpl">
            <input [attr.id]="'edit_process_no'" formControlName="process_no" nz-input placeholder="工序代碼"
              autocomplete="off" />
          </nz-form-control>-->
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_noErrorTpl">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="工序" formControlName="process_no" style="width: 94px">
              <nz-option *ngFor="let option of ProcessList" [nzLabel]="option.process" [nzValue]="option.processNum">
              </nz-option>
            </nz-select>
            <ng-template #process_noErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>

            </ng-template>
          </nz-form-control>

          <!--<nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_noErrorTpl">
            <nz-select [formControlName]="'process_no'"  style="width: 100px;">
              <nz-option nzValue="1" nzLabel="粗銑"></nz-option>
              <nz-option nzValue="2" nzLabel="精修"></nz-option>
              <nz-option nzValue="3" nzLabel="去毛邊"></nz-option>
              <nz-option nzValue="4" nzLabel="陽極/EP"></nz-option>
              <nz-option nzValue="5" nzLabel="全檢"></nz-option>
            </nz-select>
          </nz-form-control>-->
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_hour'">工時(時)</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_hourErrorTpl">
            <input [attr.id]="'edit_process_hour'" formControlName="process_hour" nz-input placeholder="工時(時)"
              autocomplete="off" (ngModelChange)="checktype($event)" [(ngModel)]="process_hour" />
            <ng-template #process_hourErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>

            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_cost'">單價(時)</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_costErrorTpl">
            <input [attr.id]="'edit_process_cost'" formControlName="process_cost" nz-input placeholder="單價(時)"
              autocomplete="off" (ngModelChange)="checktype($event)" [(ngModel)]="process_cost" />
            <ng-template #process_costErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>

            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <!--add 20211109-->
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_costsum'">加工成本價</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_costsumErrorTpl">
            <input value="{{p_cost}}" readonly="readonly" [attr.id]="'edit_process_costsum'"
              formControlName="process_costsum" nz-input placeholder="加工成本價" autocomplete="off"
              (ngModelChange)="getcostvalue_p($event)" [ngModel]="process_cost*process_hour" />
            <ng-template #process_costsumErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
            </ng-template>

          </nz-form-control>
        </td>
      </tr>

      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_machine'">機台</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_machineErrorTpl">
            <input [attr.id]="'edit_process_machine'" formControlName="process_machine" nz-input placeholder="機台"
              autocomplete="off" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_remark'">備註</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_remarkErrorTpl">
            <textarea [attr.id]="'edit_process_remark'" formControlName="process_remark" nz-input placeholder="備註"
              rows="2"></textarea>
            <!--<input [attr.id]="'edit_roleName'" formControlName="roleName" nz-input placeholder="備註" autocomplete="off" />-->
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" class="mr-10">提交</button>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button type="button" (click)="cancelEdit()">取消</button>
          </nz-form-control>
        </td>
      </tr>
    </table>
  </form>
</ng-template>
<!--表面處理-->
<ng-template #addSurfaceTitleTp>
  <span>表面處理明細</span>
</ng-template>
<ng-template #SurfaceContentTp>
  <form nz-form [formGroup]="editForm_Surface" (ngSubmit)="submitSurfaceList()">
    <table border="1">
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'surface_name'">工序</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="surface_nameErrorTpl">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="工序" formControlName="surface_name" style="width: 94px">
              <nz-option *ngFor="let option of SurfaceList" [nzLabel]="option.surfaceDesc" [nzValue]="option.surfaceId"
                (ngModelChange)="checktype($event)"></nz-option>
            </nz-select>
            <ng-template #surface_nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
            </ng-template>
            <!--<input [attr.id]="'edit_surface_name'" formControlName="surface_name" nz-input placeholder="工序"
              autocomplete="off" (ngModelChange)="checktype($event)" />-->
          </nz-form-control>
        </td>
      </tr>

      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'surface_cost'">單價(時)</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="surface_costErrorTpl">
            <input [attr.id]="'edit_surface_cost'" formControlName="surface_cost" nz-input placeholder="單價(時)"
              autocomplete="off" (ngModelChange)="checktype($event)" [(ngModel)]="surface_cost" />

            <ng-template #surface_costErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
            </ng-template>

          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'surface_times'">次數</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="surface_timesErrorTpl">
            <input [attr.id]="'edit_surface_times'" formControlName="surface_times" nz-input placeholder="次數"
              autocomplete="off" (ngModelChange)="checktype($event)" [(ngModel)]="surface_times" />
            <ng-template #surface_timesErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
            </ng-template>
          </nz-form-control>
        </td>
      </tr>

      <!--add 20211109-->

      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_surface_costsum'">表面處理成本價</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="surface_costsumErrorTpl">
            <input value="{{s_cost}}" readonly="readonly" [attr.id]="'edit_surface_costsum'"
              formControlName="surface_costsum" nz-input placeholder="表面處理成本價" autocomplete="off"
              (ngModelChange)="getcostvalue_s($event)" [ngModel]="surface_cost*surface_times" />
            <ng-template #surface_costsumErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>

            </ng-template>

          </nz-form-control>
        </td>
      </tr>


      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'surface_note'">備註</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="roleNameErrorTpl">
            <!--<input [attr.id]="'edit_roleName'" formControlName="roleName" nz-input placeholder="備註" autocomplete="off" />-->
            <textarea [attr.id]="'edit_surface_note'" formControlName="surface_note" nz-input placeholder="備註"
              rows="2"></textarea>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" class="mr-10">提交</button>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button type="button" (click)="cancelEdit()">取消</button>
          </nz-form-control>
        </td>
      </tr>
    </table>
  </form>
</ng-template>
<!--其他-->
<ng-template #addOtherTitleTp>
  <span>其他明細</span>
</ng-template>
<ng-template #OtherContentTp>
  <form nz-form [formGroup]="editForm_Other" (ngSubmit)="submitOtherList()">
    <table border="1">
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'other_item'">項目</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="other_itemErrorTpl">
            <input [attr.id]="'edit_other_item'" formControlName="other_item" nz-input placeholder="項目"
              autocomplete="off" />
            <ng-template #other_itemErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>

            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'edit_other_price'">單價</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="other_priceErrorTpl">
            <input value="{{o_cost}}" [attr.id]="'edit_other_price'" formControlName="other_price" nz-input
              placeholder="單價" autocomplete="off" (ngModelChange)="getcostvalue_o($event)" />
            <ng-template #other_priceErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>

            </ng-template>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_other_note'">說明</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="other_noteErrorTpl">
            <input [attr.id]="'edit_other_note'" formControlName="other_note" nz-input placeholder="說明"
              autocomplete="off" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_other_desc'">備註</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="other_descErrorTpl">
            <!--<input [attr.id]="'edit_roleName'" formControlName="roleName" nz-input placeholder="備註" autocomplete="off" />-->
            <textarea [attr.id]="'edit_other_desc'" formControlName="other_desc" nz-input placeholder="備註"
              rows="2"></textarea>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" class="mr-10">提交</button>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button type="button" (click)="cancelEdit()">取消</button>
          </nz-form-control>
        </td>
      </tr>
    </table>
  </form>
</ng-template>


<!--拒絕-->
<ng-template #addRejectTitleTp>
  <span>拒絕報價
  </span>
</ng-template>
<ng-template #RejectContentTp>
  <form nz-form [formGroup]="editForm_Reject" (ngSubmit)="submitReject()">
    <table border="1">
      <tr>
        <td>
          <nz-form-label nzRequired [nzSm]="24" [nzXs]="24" [nzFor]="'reject_reason'">拒絕原因
          </nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="reject_reasonErrorTpl">
            <input [attr.id]="'edit_reject_reason'" formControlName="reject_reason" nz-input placeholder="拒絕原因"
              autocomplete="off" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" class="mr-10">提交</button>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button type="button" (click)="cancelEdit()">取消</button>
          </nz-form-control>
        </td>
      </tr>
    </table>
  </form>
</ng-template>
