<body>
  <div class="shape-ex3">
    <!--<div id="_header" class="parent"
      style="height: 60px; width: 1000px; background-color: #45a1ec; border-radius: 5px;">
      <h1 id="heading001"
        style=" font-weight: bold; font-style: inherit; font-family: 微軟正黑體; font-size: 30px;text-align:center;">
        報價作業<span style="font-size:12px;right:0px;float:right;">詢價單號:QOT00000012<br>狀態:初始</span><span
          style="float:left;font-size:12px;text-align: left;">申請日期:2021/07/13 11:13:38<br>填單者:陳嘉融</span></h1>
    </div>-->
    <!--<h1 style=" margin-left: 750px;"> 報價作業</h1>-->
    <br>

    <!--<mat-form-field appearance="fill">
      <mat-label>料號</mat-label> 
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>-->
    <div class="two-column">

    <div class="left">
        <nz-card [nzSize]="'small'">
            <button nz-button class="mb-10" (click)="refreshtree()"><i nz-icon nzType="sync"></i>刷新数据</button>
            <!--<app-department-tree #tree (selectedNodeChanged)="selectedChanged($event)"></app-department-tree>-->
        </nz-card>
    </div>
    <div class="right">
    <nz-card [nzSize]="'middle'" id="info1">
    <div class="child">
      <div class="cc" style="margin: 0px auto;">
        <table style="  text-align: left;">
          <tr>
            <td class="content2" id="rfqno">建立日期</td>
            <td class="content2" id="currency">建立人員</td>
            <td class="content2" id="leadtime">狀態</td>
            <td class="content2" id="min_qty">詢價單號</td>
            <td class="content2" id="min_qty">報價單號</td>
          </tr>
          <tr id="rowtype2">
            <td class="content2">
              <label class="content2" type="text" id="txtcfno" name="txtcfno" disabled value="">2021/07/13</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtcfno" name="txtcfno" disabled value="">AA</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtversion" name="txtversion" disabled value="">初始</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtspecification" name="txtspecification" disabled
                value="">RFQ00000001</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtspecification" name="txtspecification" disabled
                value="">QOT00001-1</label>
            </td>
          </tr>
        </table>
      </div>
    </div>
</nz-card>
<nz-card [nzSize]="'middle'" id="info2">
    <div class="child">
      <div class="cc" style="margin: 0px auto;">
        <table style=" text-align: left;">
          <tr>
            <td class="content2" id="rfqno">料號</td>
            <td class="content2" id="currency">材料規格</td>
            <td class="content2" id="leadtime">成本尺寸</td>
            <td class="content2" id="min_qty">工件重量(KG)</td>
            <td class="content2" id="min_qty">機種名稱</td>
          </tr>
          <tr id="rowtype2">
            <td class="content2">
              <label class="content2" type="text" id="txtcfno" name="txtcfno" disabled value="">ZAT42-31653</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtcfno" name="txtcfno" disabled value="">SUS304</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtversion" name="txtversion" disabled value="">3739*562mm</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtspecification" name="txtspecification" disabled
                value="">1850</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtspecification" name="txtspecification" disabled
                value="">25KTOP</label>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </nz-card>
    <!--<div class="child">
      <div class="cc" style="margin: 0px auto;">
        <table style=" font-family: 微軟正黑體;">
          <tr>
            <td class="content2" id="rfqno">報價單號:</td>
            <td class="content2" id="currency">幣別:</td>
            <td class="content2" id="leadtime">交貨時間：</td>
            <td class="content2" id="min_qty">最小採購數量：</td>
          </tr>
          <tr id="rowtype2">
            <td class="content2">
              <label class="content2" type="text" id="txtcfno" name="txtcfno" disabled value="">RFQ00000001</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtcfno" name="txtcfno" disabled value="">台幣</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtversion" name="txtversion" disabled value="">2021/07/05</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtspecification" name="txtspecification" disabled
                value=""></label>
            </td>
          </tr>
        </table>
      </div>
    </div>-->
    <nz-card [nzSize]="'small'" id="btnBar">
      <button id="btnRejectQot"  nz-button class="mr-10"  ><i nz-icon nzType="default"></i>拒絕報價</button>
      <button id=" btnSaveQot" nz-button class="mr-10" ><i nz-icon nzType="save"></i>儲存</button>
      <button id="btnBackQot" nz-button class="mr-10"  ><i nz-icon nzType="arrow-left"></i>返回</button>
      <button id="btnSendQot" nz-button class="mr-10" ><i nz-icon nzType="arrow-right"></i>送出</button>
      <!--<button id="btnRejectQot">拒絕報價</button><button id=" btnSaveQot" style="margin-left:400px;">儲存</button> <button
      id="btnBackQot">返回</button> <button id="btnSendQot" style="margin-left:380px;">送出</button>-->
      </nz-card>
    <!--
    <div class="child">
      <div class="cc" style="margin: 0px auto;">
        <table style=" font-family: 微軟正黑體;">
          <tr>
            <td class="content2" id="rfqno">報價單號:</td>
            <td class="content2" id="currency">幣別:</td>
            <td class="content2" id="leadtime">交貨時間：</td>
            <td class="content2" id="min_qty">最小採購數量：</td>
          </tr>
          <tr id="rowtype2">
            <td class="content2">
              <label class="content2" type="text" id="txtcfno" name="txtcfno" disabled value="">RFQ00000001</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtcfno" name="txtcfno" disabled value="">台幣</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtversion" name="txtversion" disabled value="">2021/07/05</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtspecification" name="txtspecification" disabled
                value=""></label>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <p class="title"><span id="item">詢價項目</span> </p>
        <table class="table1">
          <tr id="rowtype1">
            <td class="content2" id="cfno">料號:</td>
            <td class="content2" id="version">版次</td>
            <td class="content2" id="specification">材質規格：</td>
            <td class="content2" id="density">密度</td>
          </tr>
          <tr id="rowtype2">
            <td class="content2">
              <label class="content2" type="text" id="txtcfno" name="txtcfno" disabled value="">ZAT00</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtversion" name="txtversion" disabled value="">2</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtspecification" name="txtspecification" disabled
                value="">3x5x6</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtdensity" name="txtdensity" disabled value="">1.2</label>
            </td>
          </tr>
          <tr id="rowtype3">
            <td class="content2" id="materiallength">長:</td>
            <td class="content2" id="materialwidth">寬:</td>
            <td class="content2" id="materialheight">高：</td>
            <td class="content2" id="materialweight">重量:</td>
          </tr>
          <tr id="rowtype4">
            <td class="content2">
              <label class="content2" type="text" id="txtmateriallength" name="txtmateriallength" disabled
                value="">3</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtmaterialwidth" name="txtmaterialwidth" disabled
                value="">2</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtmaterialheight" name="txtmaterialheight" disabled
                value="">4</label>
            </td>
            <td class="content2">
              <label class="content2" type="text" id="txtmaterialweight" name="txtmaterialweight" disabled
                value="">5</label>
            </td>
          </tr>
          <tr id="rowtype5">
            <td colspan="4" id="materiallength"><span style=" font-family: 微軟正黑體;">備註:</span></td>
          </tr>
          <tr id="rowtype6">
            <td colspan="4">
              <input type="text" id="txtnote" name="txtnote" disabled value="aa" style="width: 100%; height: 50px; border-radius: 5px;">
              <label style="height:50px; font-family: 微軟正黑體;" name="txtmainnote" cols="137" rows="5" disabled>XXX</label>
            </td>

          </tr>
        </table>
      -->
        <!--<p class="line2"><span></span> </p>-->
        <!--<mat-tab-group style="font-family:微軟正黑體;">-->

          <nz-card>
          <!--<mat-tab label="材料明細">-->
            <div>
              <h4>A.材料</h4>
             
              <button  nz-button class="mr-10"  (click)="addMaterial(addMaterialTitleTp,MaterialContentTp)"><i nz-icon nzType="plus"></i>新增材料費用</button>
              <button nz-button class="mr-10"  (click)="deleteMaterial()"><i nz-icon nzType="delete"></i>刪除材料費用</button>
               <!--<section class="example-section">-->
                <mat-checkbox class="example-margin" id="chkreject_material">不回填</mat-checkbox>
              <!-- </section>-->
            <!--<button nz-button nzType="primary" style="margin-left: 20px"
              (click)="addMaterial(addMaterialTitleTp,MaterialContentTp)">新增材料費用</button>
            <button nz-button nzType="danger" style="margin-left: 20px" (click)="deleteMaterial()">刪除材料費用</button>-->

            <ag-grid-angular #agGrid style="width: 1000px; height: 200px;border:solid" id="myGrid"
              [columnDefs]="columnDefs" [suppressDragLeaveHidesColumns]="true"
              [suppressMakeColumnVisibleAfterUnGroup]="true" [rowData]="rowData_Material"
              (gridReady)="onGridReady($event)" [enableCharts]="true" [enableRangeSelection]="true"
              [masterDetail]="true" [undoRedoCellEditing]="true" [undoRedoCellEditingLimit]="5"
              [detailRowAutoHeight]="true" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection" [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </div>
          </nz-card>
          <!--</mat-tab>-->
          <nz-card>
          <!--<mat-tab label="加工">-->
            <div>
              <h4>B.加工</h4>
              
              <button  nz-button class="mr-10"  (click)="addProcess(addProcessTitleTp,ProcessContentTp)"><i nz-icon nzType="plus"></i>新增加工費用</button>
              <button nz-button class="mr-10"  (click)="deleteProcess()"><i nz-icon nzType="delete"></i>刪除加工費用</button>
              <!--<section class="example-section">-->
                <mat-checkbox class="example-margin" id="chkreject_process">不回填</mat-checkbox>
              <!-- </section>-->
              <!--
            <button nz-button nzType="primary" style="margin-left: 20px"
              (click)="addProcess(addProcessTitleTp,ProcessContentTp)">新增加工費用</button>
            <button nz-button nzType="danger" style="margin-left: 20px" (click)="deleteProcess()">刪除加工費用</button>-->

            <ag-grid-angular #agGrid style="width: 1000px; height: 200px;border:solid" id="myGrid"
              [columnDefs]="columnDefs_PROCESS" [suppressDragLeaveHidesColumns]="true"
              [suppressMakeColumnVisibleAfterUnGroup]="true" [rowData]="rowData_Process"
              (gridReady)="onGridReady_Process($event)" [enableCharts]="true" [enableRangeSelection]="true"
              [masterDetail]="true" [undoRedoCellEditing]="true" [undoRedoCellEditingLimit]="5"
              [detailRowAutoHeight]="true" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection" [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </div>
          <!--</mat-tab>-->
        </nz-card>
        <nz-card>
          <!-- <mat-tab label="表面處理">-->
            <div>
              <h4>C.表面處理</h4>
             
              <button  nz-button class="mr-10"  (click)="addSurface(addSurfaceTitleTp,SurfaceContentTp)"><i nz-icon nzType="plus"></i>新增表面處理</button>
              <button nz-button class="mr-10"  (click)="deleteSurface()"><i nz-icon nzType="delete"></i>刪除表面處理</button>
               <!--<section class="example-section">-->
                <mat-checkbox class="example-margin" id="chkreject_surface">不回填</mat-checkbox>
              <!-- </section>-->
              <!--
            <button nz-button nzType="primary" style="margin-left: 20px"
              (click)="addSurface(addSurfaceTitleTp,SurfaceContentTp)">新增表面處理</button>
            <button nz-button nzType="danger" style="margin-left: 20px" (click)="deleteSurface()">刪除表面處理</button>-->

            <ag-grid-angular #agGrid style="width:1000px; height: 200px;border:solid" id="myGrid"
              [columnDefs]="columnDefs_SURFACE" [suppressDragLeaveHidesColumns]="true"
              [suppressMakeColumnVisibleAfterUnGroup]="true" [rowData]="rowData_Surface"
              (gridReady)="onGridReady_Surface($event)" [enableCharts]="true" [enableRangeSelection]="true"
              [masterDetail]="true" [undoRedoCellEditing]="true" [undoRedoCellEditingLimit]="5"
              [detailRowAutoHeight]="true" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection" [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </div>
         <!--  </mat-tab>-->
        </nz-card>
        <nz-card>
         <!--  <mat-tab label="其他費用">-->
          <div>
            <h4>D.其他費用</h4>
           
            <button  nz-button class="mr-10"  (click)="addOther(addOtherTitleTp,OtherContentTp)"><i nz-icon nzType="plus"></i>新增其他費用</button>
            <button nz-button class="mr-10"  (click)="deleteOther()"><i nz-icon nzType="delete"></i>刪除其他費用</button>
             <!--<section class="example-section">-->
              <mat-checkbox class="example-margin" id="chkreject_other">不回填</mat-checkbox>
            <!-- </section>-->
            <!--
            <button nz-button nzType="primary" style="margin-left: 20px"
              (click)="addOther(addOtherTitleTp,OtherContentTp)">新增其他費用</button>
            <button nz-button nzType="danger" style="margin-left: 20px" (click)="deleteOther()">刪除其他費用</button>-->

            <ag-grid-angular #agGrid style="width: 1000px; height: 200px;border:solid" id="myGrid"
              [columnDefs]="columnDefs_OTHER" [suppressDragLeaveHidesColumns]="true"
              [suppressMakeColumnVisibleAfterUnGroup]="true" [rowData]="rowData_Other"
              (gridReady)="onGridReady_Other($event)" [enableCharts]="true" [enableRangeSelection]="true"
              [masterDetail]="true" [undoRedoCellEditing]="true" [undoRedoCellEditingLimit]="5"
              [detailRowAutoHeight]="true" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection" [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </div>
          </nz-card>
        <!--  </mat-tab>-->
        <!--</mat-tab-group>-->
     <!-- </div>-->
    
       
      <table>
        <tr>
          <td rowspan="8"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    </div>
  </div>
</body>
<!--材料-->
<ng-template #addMaterialTitleTp>
  <span>材料明細</span>
</ng-template>
<ng-template #MaterialContentTp>
  <form nz-form [formGroup]="editForm_Material" (ngSubmit)="submitMaterialList()">
    <table border="1">
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_name'">素材材質</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_nameErrorTpl">
            <input [attr.id]="'add_material_name'" formControlName="material_name" nz-input placeholder="素材材質"
              autocomplete="off" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_price'">材料單價</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_priceErrorTpl">
            <input [attr.id]="'add_material_price'" formControlName="material_price" nz-input placeholder="材料單價"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_cost'">材料成本價</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_costErrorTpl">
            <input [attr.id]="'add_material_cost'" formControlName="material_cost" nz-input placeholder="材料成本價"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_length'">長</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_lengthErrorTpl">
            <input [attr.id]="'add_material_length'" formControlName="material_length" nz-input placeholder="長"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_width'">寬</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_widthErrorTpl">
            <input [attr.id]="'add_material_width'" formControlName="material_width" nz-input placeholder="寬"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_height'">高</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_heightErrorTpl">
            <input [attr.id]="'add_material_height'" formControlName="material_height" nz-input placeholder="高"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_density'">密度</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_densityErrorTpl">
            <input [attr.id]="'add_material_density'" formControlName="material_density" nz-input placeholder="密度"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_weight'">重量</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_weightErrorTpl">
            <input [attr.id]="'add_material_weight'" formControlName="material_weight" nz-input placeholder="重量"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_totalcost'">總金額</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_totalcostErrorTpl">
            <input [attr.id]="'add_material_totalcost'" formControlName="material_totalcost" nz-input placeholder="總金額"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'add_material_note'">備註</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="material_noteErrorTpl">
            <textarea [attr.id]="'add_material_note'" formControlName="material_note" nz-input placeholder="備註"
              rows="2"></textarea>
            <!--<input [attr.id]="'add_material_note'" formControlName="roleName" nz-input placeholder="備註" autocomplete="off" />-->
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button id="btninsert_material" nz-button nzType="primary" class="mr-10">提交</button>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button id="btncancel_material" nz-button type="button" (click)="cancelEdit()">取消</button>
          </nz-form-control>
        </td>
      </tr>
    </table>

  </form>
</ng-template>
<!--加工-->
<ng-template #addProcessTitleTp>
  <span>加工明細</span>
</ng-template>
<ng-template #ProcessContentTp>
  <form nz-form [formGroup]="editForm_Process" (ngSubmit)="submitProcessList()">
    <table border="1">
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_no'">工序代碼</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_noErrorTpl">
            <input [attr.id]="'edit_process_no'" formControlName="process_no" nz-input placeholder="工序代碼"
              autocomplete="off" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_hour'">工時(時)</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_hourErrorTpl">
            <input [attr.id]="'edit_process_hour'" formControlName="process_hour" nz-input placeholder="工時(時)"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_cost'">單價(時)</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_costErrorTpl">
            <input [attr.id]="'edit_process_cost'" formControlName="process_cost" nz-input placeholder="單價(時)"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_machine'">機台</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_machineErrorTpl">
            <input [attr.id]="'edit_process_machine'" formControlName="process_machine" nz-input placeholder="機台"
              autocomplete="off" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_process_remark'">備註</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="process_remarkErrorTpl">
            <textarea [attr.id]="'edit_process_remark'" formControlName="process_remark" nz-input placeholder="備註"
              rows="2"></textarea>
            <!--<input [attr.id]="'edit_roleName'" formControlName="roleName" nz-input placeholder="備註" autocomplete="off" />-->
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" class="mr-10">提交</button>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button type="button" (click)="cancelEdit()">取消</button>
          </nz-form-control>
        </td>
      </tr>
    </table>
  </form>
</ng-template>
<!--表面處理-->
<ng-template #addSurfaceTitleTp>
  <span>表面處理明細</span>
</ng-template>
<ng-template #SurfaceContentTp>
  <form nz-form [formGroup]="editForm_Surface" (ngSubmit)="submitSurfaceList()">
    <table border="1">
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'surface_name'">工序</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="surface_nameErrorTpl">
            <input [attr.id]="'edit_surface_name'" formControlName="surface_name" nz-input placeholder="工序"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'surface_times'">次數</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="surface_timesErrorTpl">
            <input [attr.id]="'edit_surface_times'" formControlName="surface_times" nz-input placeholder="次數"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'surface_cost'">單價(時)</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="surface_costErrorTpl">
            <input [attr.id]="'edit_surface_cost'" formControlName="surface_cost" nz-input placeholder="單價(時)"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'surface_note'">備註</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="roleNameErrorTpl">
            <!--<input [attr.id]="'edit_roleName'" formControlName="roleName" nz-input placeholder="備註" autocomplete="off" />-->
            <textarea [attr.id]="'edit_surface_note'" formControlName="surface_note" nz-input placeholder="備註"
              rows="2"></textarea>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" class="mr-10">提交</button>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button type="button" (click)="cancelEdit()">取消</button>
          </nz-form-control>
        </td>
      </tr>
    </table>
  </form>
</ng-template>
<!--其他-->
<ng-template #addOtherTitleTp>
  <span>其他明細</span>
</ng-template>
<ng-template #OtherContentTp>
  <form nz-form [formGroup]="editForm_Other" (ngSubmit)="submitOtherList()">
    <table border="1">
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'other_item'">項目</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="other_itemErrorTpl">
            <input [attr.id]="'edit_other_item'" formControlName="other_item" nz-input placeholder="項目"
              autocomplete="off" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_other_price'">單價</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="other_priceErrorTpl">
            <input [attr.id]="'edit_other_price'" formControlName="other_price" nz-input placeholder="單價"
              autocomplete="off" (ngModelChange)="checktype($event)" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_other_note'">說明</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="other_noteErrorTpl">
            <input [attr.id]="'edit_other_note'" formControlName="other_note" nz-input placeholder="說明"
              autocomplete="off" />
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="'edit_other_desc'">備註</nz-form-label>
        </td>
        <td>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="other_descErrorTpl">
            <!--<input [attr.id]="'edit_roleName'" formControlName="roleName" nz-input placeholder="備註" autocomplete="off" />-->
            <textarea [attr.id]="'edit_other_desc'" formControlName="other_desc" nz-input placeholder="備註"
              rows="2"></textarea>
          </nz-form-control>
        </td>
      </tr>
      <tr>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" class="mr-10">提交</button>
          </nz-form-control>
        </td>
        <td>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button type="button" (click)="cancelEdit()">取消</button>
          </nz-form-control>
        </td>
      </tr>
    </table>
  </form>
</ng-template>
