    <!--搜索欄-->
    <nz-card [nzSize]="'small'" id="searchBar">
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
        <nz-form-item>
          <nz-form-label [nzFor]="'PO_NUM'">採購單號</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="採購單號" [formControlName]="'PO_NUM'" [attr.id]="'PO_NUM'"
                   autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzFor]="'STATUS'">狀態</nz-form-label>
          <nz-form-control>
            <nz-select [formControlName]="'STATUS'" ngModel="0" style="width: 100px;">
              <nz-option nzValue="0" nzLabel="全部"></nz-option>
              <nz-option nzValue="11" nzLabel="待回覆"></nz-option>
              <nz-option nzValue="12" nzLabel="已收貨"></nz-option>
              <nz-option nzValue="14" nzLabel="待收貨"></nz-option>
              <nz-option nzValue="15" nzLabel="待交貨"></nz-option>
              <nz-option nzValue="21" nzLabel="待接收"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzFor]="'DATASTATUS'">檔案狀態</nz-form-label>
          <nz-form-control>
            <nz-select [formControlName]="'DATASTATUS'" ngModel="0" style="width: 100px;">
              <nz-option nzValue="0" nzLabel="全部"></nz-option>
              <nz-option nzValue="1" nzLabel="已完成"></nz-option>
              <nz-option nzValue="2" nzLabel="未完成"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzFor]="'EkgryDesc'">採購人員</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="採購人員" [formControlName]="'EkgryDesc'" [attr.id]="'EkgryDesc'"
                   autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">搜索</button>
            <!--<button nz-button nzType="outline" type="button" class="ml-10"
              (click)="resetSearchForm()">
        重置
      </button>-->
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>

<nz-card>
  <ag-grid-angular
  #agGrid
  style="width: 100%; height: 650px;"
  id="myGrid"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [masterDetail]="true"
  [detailCellRendererParams]="detailCellRendererParams"
  [rowData]="rowData"
  [components]="components"
  (firstDataRendered)="onFirstDataRendered($event)"
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  [paginationPageSize]="15"
  [stopEditingWhenCellsLoseFocus]="true"
  [enableCellTextSelection]="true"
  [getContextMenuItems]="getContextMenuItems"
></ag-grid-angular>

<app-file-modal #filemodal></app-file-modal>
<!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <app-file-modal></app-file-modal>
  </ng-container>
</nz-modal> -->
</nz-card>
<nz-modal [(nzVisible)]="isVisible" nzTitle="檔案列表" (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <!-- <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" nzSize="20480" nzLimit="1">
      <button *canOperate="'RFQ_ACTION'" nz-button><i nz-icon nzType="upload"></i>上傳文件</button>
    </nz-upload> -->
    <!-- <nz-upload [nzSm]="6" [nzXs]="24" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" nzSize="2048" nzLimit="1" [nzDownload]="download" [nzShowUploadList]="showUploadList">
      <button *canOperate="'RFQ_ACTION'" nz-button><i nz-icon nzType="upload"></i>上傳檔案</button>
    </nz-upload> -->
    <!-- <button nz-button (click)="downLoadFile(aaa})">aaa</button>
    <button nz-button (click)="downLoadFile(bbb)">bbb</button> -->
    <div *ngFor="let filename of fileNameList" style="margin-top: 10px;">
      <label nz-checkbox [(ngModel)]="filename.active" name="filename.name" *canOperate="'updatePoDownBtn'"></label><button nz-button (click)="downLoadFile(filename.name)" style="border: none;">{{filename.name}}</button>
    </div>


  </ng-container>
  <ng-container *nzModalFooter>
    <!-- <button *canOperate="'RFQ_ACTION'" nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()"
    [disabled]="fileList.length == 0" style="margin-top: 16px" class="mr-10">
{{ uploading ? '上傳中...' : '開始上傳' }}
</button> -->
<button nz-button type="button" [nzType]="'primary'" (click)="handleOk()" *canOperate="'updatePoDownBtn'">確定</button>
<button nz-button type="reset" (click)="handleCancel()">取消</button>
  </ng-container>
  <!-- <ng-footer>

  </ng-footer> -->
</nz-modal>
<!-- <ng-template #editUserTitleTpl>
  <span>編輯檔案</span>
</ng-template>
<ng-template #userContentTpl>
  <form nz-form [formGroup]="editForm" (ngSubmit)="submitEdit()">
      <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">檔案</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-upload [nzDownload]="download" [nzFileList]="inputFile.fileList" [nzBeforeUpload]="beforeUpload" nzLimit="1" nzMultiple="false"
            [nzRemove]="delete">
              <button nz-button><i nz-icon nzType="upload"></i>選擇上傳文件</button>
            </nz-upload>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button nzType="primary" class="mr-10">提交</button>
              <button nz-button type="reset" (click)="cancelEdit()">取消</button>
          </nz-form-control>
      </nz-form-item>
  </form>
</ng-template> -->



