<nz-layout style="min-height: 100vh;">
    <nz-header>
        <div class="logo" style="width: 300px;">
          <img src="\assets\chen_logo.png" style="height:50px;margin-bottom: 10px;">
          <img src="\assets\chen_logo_2.png" style="height:41px;margin-bottom: 10px;">
          <label>CF-SRM</label>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" id="titleMenuBar" *ngIf="!isSideMenu">
            <ng-container *ngFor="let node of menuTree">
                <ng-container *canOperate="node.canOperate">
                    <li nz-menu-item nzMatchRouter *ngIf="node.children.length==0">
                        <a [routerLink]="[ node.routerLink ]" (click)="navigateTo(node.canOperate)">
                            <i nz-icon [nzType]="node.iconType"></i><span>{{node.name}}</span></a>
                    </li>
                    <li nz-submenu [nzIcon]="node.iconType" [nzTitle]="node.name" *ngIf="node.children.length>0">
                        <ul>
                            <ng-container *ngFor="let childNode of node.children">
                                <li nz-menu-item nzMatchRouter *canOperate="childNode.canOperate">
                                    <a [routerLink]="[ childNode.routerLink ]"
                                        (click)="navigateTo(childNode.canOperate)">
                                        <i nz-icon [nzType]="childNode.iconType"></i>{{childNode.name}}</a></li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-container>
        </ul>
        <!-- <div class="user">
          <app-navbar></app-navbar>
        </div> -->
        <div class="user">
            <a nz-dropdown [nzDropdownMenu]="menu" [nzOverlayStyle]="{width:'130px',top:'15px'}" class="userName">
                <nz-badge>
                    <nz-avatar *ngIf="!avatar" nzIcon="user"></nz-avatar>
                    <nz-avatar *ngIf="avatar" [nzSrc]="getImgUrl(avatar)"></nz-avatar>
                </nz-badge>
                {{name}}
                <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="modifyPwd()">修改密碼
                    </li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item (click)="logout()">登出</li>
                </ul>
            </nz-dropdown-menu>
        </div>
        <!-- <app-navbar></app-navbar> -->
    </nz-header>
    <nz-layout>
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" *ngIf="isSideMenu">
            <ul nz-menu nzMode="inline" nzTheme="light" class="sider-menu">
                <ng-container *ngFor="let node of menuTree">
                    <ng-container *canOperate="node.canOperate">
                        <li nz-menu-item nzMatchRouter *ngIf="node.children.length==0">
                            <a [routerLink]="[ node.routerLink ]" (click)="navigateTo(node.canOperate)">
                                <i nz-icon [nzType]="node.iconType"></i><span
                                    *ngIf="!isCollapsed">{{node.name}}</span></a>
                        </li>
                        <li nz-submenu [nzIcon]="node.iconType" [nzTitle]="node.name" *ngIf="node.children.length>0">
                            <ul>
                                <ng-container *ngFor="let childNode of node.children">
                                    <li nz-menu-item nzMatchRouter *canOperate="childNode.canOperate">
                                        <a [routerLink]="[ childNode.routerLink ]"
                                            (click)="navigateTo(childNode.canOperate)">
                                            <i nz-icon [nzType]="childNode.iconType"></i>{{childNode.name}}</a></li>
                                </ng-container>
                            </ul>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
        </nz-sider>
        <nz-layout class="inner-layout">
            <nz-card [nzSize]="'small'">
                <div style="display:flex;display: -webkit-flex;align-items:center;">
                    <ng-container *ngIf="isSideMenu">
                        <div style="float: left;">
                            <button nz-button nzType="link" nzSize="small" (click)="isCollapsed = !isCollapsed">
                                <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                            </button>
                        </div>
                        <div style="float: left;padding:0 10px;color: gray;">|</div>
                    </ng-container>
                    <div style="float: left;">
                        <button nz-button nzType="link" nzSize="small"
                            (click)="isSideMenu = !isSideMenu;isCollapsed=false;">
                            <i class="trigger" nz-icon
                                [nzType]="isSideMenu ? 'insert-row-left' : 'insert-row-above'"></i>
                        </button>
                    </div>
                    <div style="float: left;padding:0 10px;color: lightgray;">|</div>

                    <nz-breadcrumb style="margin:0;float: left;top: 50%;">
                        <nz-breadcrumb-item *ngFor="let info of breadcrumbInfo">{{info}}</nz-breadcrumb-item>
                    </nz-breadcrumb>

                    <div style="float: left;padding:0 10px;"></div>

                    <div style="float: left;">
                        <nz-tag *ngFor="let tag of tags; let i = index" [nzMode]="'closeable'"
                            (nzOnClose)="handleClose(tag)" class="historyTag" >
                            <span (click)="navigate(tag)">{{ tag.name }}</span>
                        </nz-tag>
                    </div>
                </div>
            </nz-card>
            <div class="fullWindow">
                <router-outlet></router-outlet>
            </div>
        </nz-layout>
    </nz-layout>
</nz-layout>


<ng-template #editPwdTitleTpl>
    <span>修改密碼</span>
</ng-template>
<ng-template #editPwdContentTpl>
    <form nz-form [formGroup]="modifyForm" (ngSubmit)="submitForm()" nzLayout="horizontal">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="userName" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="請輸入舊密碼!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input type="password" formControlName="oldPassword" placeholder="舊密碼" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="請輸入新密碼!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input type="password" formControlName="newPassword" placeholder="新密碼" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input type="password" formControlName="confirmPassword" placeholder="確認密碼" />
                </nz-input-group>
                <ng-template #confirmPasswordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('notEqual')">
                        兩次密碼輸入不一緻!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        請輸入確認密碼!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLoading">確認修改</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>
