<div class="two-column" style="width: 93%;">
  <div class="right">
    <!--搜索欄-->
    <nz-card [nzSize]="'small'" id="searchBar">
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
        <nz-form-item>
          <nz-form-label [nzFor]="'RFQ_NUM'">詢價單號</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="詢價單號" [formControlName]="'RFQ_NUM'" [attr.id]="'RFQ_NUM'"
                   autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzFor]="'STATUS'">狀態</nz-form-label>
          <nz-form-control>
            <nz-select [formControlName]="'STATUS'" ngModel="1">
              <nz-option nzValue="1" nzLabel="初始"></nz-option>
              <nz-option nzValue="7" nzLabel="啟動"></nz-option>
              <nz-option nzValue="5" nzLabel="確認"></nz-option>
              <nz-option nzValue="8" nzLabel="簽核中"></nz-option>
              <nz-option nzValue="18" nzLabel="作廢"></nz-option>
              <nz-option nzValue="16" nzLabel="完成"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzFor]="'NAME'">建立人員</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="建立人員" [formControlName]="'NAME'" [attr.id]="'NAME'"
                   autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">搜索</button>
            <!--<button nz-button nzType="outline" type="button" class="ml-10"
              (click)="resetSearchForm()">
        重置
      </button>-->
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>

    <!--詢價單數據-->
    <nz-card [nzSize]="'small'" id="rfqCard">
      <div>
        <!--<button nz-button class="mr-10" (click)="add(addUserTitleTpl,userContentTpl)"
          *canOperate="'adduserbtn'">
    <i nz-icon nzType="plus"></i>新增詢價單
  </button>-->
        <button nz-button class="mr-10" (click)="addRfq()"><i nz-icon nzType="plus"></i>建立詢價單</button>
        <button nz-button class="mr-10" (click)="refresh()"><i nz-icon nzType="sync"></i>刷新</button>
      </div>
      <div class="mt-10">
        <nz-table #dataTable nzSize="middle" [nzData]="data" nzShowPagination="false" nzFrontPagination="false"
                  nzBordered="true" [nzScroll]="{ x: '180px' }">
          <thead>
            <tr>
              <th nzAlign="center" nzWidth="20px">詢價單號</th>
              <th nzAlign="center" nzWidth="20px">詢價人員</th>
              <th nzAlign="center" nzWidth="20px">建立人員</th>
              <th nzAlign="center" nzWidth="20px">建立日期</th>
              <th nzAlign="center" nzWidth="20px">狀態</th>
              <th *ngIf="status==5" nzAlign="center" nzWidth="20px" nzRight>操作</th>
              <!--<th nzAlign="center" nzWidth="80px" nzRight>操作</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataTable.data;let i = index">
              <!--<td nzAlign="center"  (click)="open(data.rfqId)">{{ data.rfqNum }}</td>-->
              <td nzAlign="center"><a href="javascript:void(0);" (click)="open(data.rfqId)"> {{ data.rfqNum }}</a></td>
              <td nzAlign="center">{{ data.sourcerName }}</td>
              <td nzAlign="center">{{ data.c_by }}</td>
              <td nzAlign="center">{{ data.c_date }}</td>
              <td nzAlign="center">{{ data.viewstatus }}</td>
              <td *ngIf="status==5" nzAlign="center" nzRight>
                <button nz-button nzType="default" nzShape="circle"
                        (click)="openPrice(data.rfqId)" class="mr-10"
                        data-toggle="tooltip" title="價格資訊">
                  <i nz-icon
                     nzType="send"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="mt-10">
        <nz-pagination [(nzPageSize)]="size" [(nzPageIndex)]="page" [nzTotal]="total" nzShowSizeChanger
                       nzShowQuickJumper (nzPageIndexChange)="pageChange()">
        </nz-pagination>
      </div>
    </nz-card>

  </div>
</div>
