<div class="two-column">
    <div class="left">
        <nz-card [nzSize]="'small'">
            <app-department-tree #tree (nodeChecked)="nodeChecked($event)" (loadData)="loadedData($event)">
            </app-department-tree>
        </nz-card>
    </div>
    <div class="right">
        <!--搜索欄-->
        <nz-card [nzSize]="'small'" id="searchBar">
            <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
                <nz-form-item>
                    <nz-form-label [nzFor]="'userName'">帳號</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="帳號" [formControlName]="'userName'" [attr.id]="'userName'"
                            autocomplete="off" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzFor]="'phoneNumber'">電話</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="電話號碼" [formControlName]="'phoneNumber'" [attr.id]="'phoneNumber'"
                            autocomplete="off" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzFor]="'name'">姓名</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="姓名" [formControlName]="'name'" [attr.id]="'name'"
                            autocomplete="off" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzFor]="'roleid'">角色</nz-form-label>
                    <nz-form-control>
                        <nz-select nzAllowClear nzPlaceHolder="請選擇" [attr.id]="'roleid'" [formControlName]="'roleid'">
                            <nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.name"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">職位</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select style="width: 150px;" nzAllowClear nzPlaceHolder="請選擇職位" formControlName="position">
                            <nz-option *ngFor="let position of positionOptions" [nzValue]="position.id"
                                [nzLabel]="position.name">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <button nz-button nzType="primary">搜索</button>
                        <button nz-button nzType="outline" type="button" class="ml-10"
                            (click)="resetSearchForm()">重置</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>

        <!--用戶數據-->
        <nz-spin [nzSpinning]="isSpinning">
        <nz-card [nzSize]="'small'" id="userCard">
            <div>
                <button nz-button class="mr-10" (click)="add(addUserTitleTpl,userContentTpl)"
                    *canOperate="'adduserbtn'"><i nz-icon nzType="plus"></i>添加用戶</button>
                <button nz-button class="mr-10" (click)="refresh()"><i nz-icon nzType="sync"></i>刷新數據</button>
                <button
                nz-popconfirm
                nzPopconfirmTitle="將耗時1分鐘左右"
                (nzOnConfirm)="sapDelivery($event)"
                (nzOnCancel)="cancel()"
                nzPopconfirmPlacement="top"
                nz-button
                nzType="primary" type="button" style="margin-top: -10px;margin-bottom: 10px; margin-left: 20px;"
                *canOperate="'SAP_DELIVERY'"
              >
              生成供應商帳號
              </button>
            </div>
            <div class="mt-10">
                <nz-table #dataTable nzSize="middle" [nzData]="data" nzShowPagination="false" nzFrontPagination="false"
                    nzBordered="true" [nzScroll]="{ x: '1800px' }">
                    <thead>
                        <tr>
                            <th nzAlign="center" nzWidth="50px" nzLeft>#</th>
                            <th nzAlign="center" nzWidth="80px">頭像</th>
                            <th nzAlign="center" nzWidth="120px">帳號</th>
                            <th nzAlign="center" nzWidth="120px">姓名</th>
                            <th nzAlign="center" nzWidth="120px">SapId</th>
                            <th nzAlign="center" nzWidth="120px">電話</th>
                            <th nzAlign="center" nzWidth="120px">Email</th>
                            <th nzAlign="center" nzWidth="60px">性別</th>
                            <th nzAlign="center">系統角色</th>
                            <th nzAlign="center" nzWidth="180px">擔任職務</th>
                            <th nzAlign="center" nzWidth="180px">所在部門</th>
                            <th nzAlign="center" nzWidth="60px">狀態</th>
                            <th nzAlign="center" nzWidth="180px">創建時間</th>
                            <th nzAlign="center" nzWidth="180px" nzRight>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dataTable.data;let i = index">
                            <td nzAlign="center" nzLeft>{{ i + 1 + (page - 1) * size }}</td>
                            <td nzAlign="center">
                                <nz-avatar *ngIf="!data.avatar" nzSize="large" nzIcon="user"></nz-avatar>
                                <nz-avatar *ngIf="data.avatar" nzSize="large" [nzSrc]="getImgUrl(data.avatar)">
                                </nz-avatar>
                            </td>
                            <td nzAlign="center">{{ data.userName }}</td>
                            <td nzAlign="center">{{ data.name }}</td>
                            <td nzAlign="center">{{ data.sapId }}</td>
                            <td nzAlign="center">{{ data.phoneNumber }}</td>
                            <td nzAlign="center">{{ data.email }}</td>
                            <td nzAlign="center">{{ data.sex | gender }}</td>
                            <td nzAlign="center">{{ data.roleName }}</td>
                            <td nzAlign="center">{{ data.positionName }}</td>
                            <td nzAlign="center">{{ data.departmentName }}</td>
                            <td nzAlign="center">
                                <nz-tag *ngIf="!data.isActive" [nzColor]="'red'">停用</nz-tag>
                                <nz-tag *ngIf="data.isActive" [nzColor]="'green'">啟用</nz-tag>
                            </td>
                            <td nzAlign="center">{{ data.createdTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td nzAlign="center" nzRight>
                                <button nz-button nzType="default" nzShape="circle" *canOperate="'updateUserBtn'"
                                    (click)="edit(editUserTitleTpl,userContentTpl,data)" class="mr-10"><i nz-icon
                                        nzType="edit"></i></button>
                                <button nz-button nzType="default" nzShape="circle" *canOperate="'setPasswordBtn'"
                                    (click)="setPassword(pwdContentTpl,data)" class="mr-10"><i nz-icon
                                        nzType="lock"></i></button>
                                <button nz-button nzType="default" nzShape="circle" *canOperate="'deleteUserBtn'"
                                    (click)="remove(data.id)" class="mr-10"><i nz-icon nzType="delete"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
            <div class="mt-10">
                <nz-pagination [(nzPageSize)]="size" [(nzPageIndex)]="page" [nzTotal]="total" nzShowSizeChanger
                    nzShowQuickJumper (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="sizeChange()">
                </nz-pagination>
            </div>
        </nz-card>
      </nz-spin>
    </div>
</div>

<ng-template #addUserTitleTpl>
    <span>添加用戶</span>
</ng-template>
<ng-template #editUserTitleTpl>
    <span>編輯用戶</span>
</ng-template>
<ng-template #userContentTpl>
    <form nz-form [formGroup]="editForm" (ngSubmit)="submitEdit()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">頭像</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <app-avatar-select formControlName="avatar"></app-avatar-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" [nzFor]="'edit_userName'">帳號</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="userNameErrorTpl">
                <input [attr.id]="'edit_userName'" formControlName="userName" nz-input placeholder="帳號"
                    autocomplete="off" />
            </nz-form-control>
            <ng-template #userNameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    請輸入帳號！
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                    角色名長度不能超過15！
                </ng-container>
            </ng-template>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" [nzFor]="'edit_name'">姓名</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="nameErrorTpl">
                <input [attr.id]="'edit_name'" formControlName="name" nz-input placeholder="姓名" autocomplete="off" />
            </nz-form-control>
            <ng-template #nameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    請輸入姓名！
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                    姓名長度不能超過30！
                </ng-container>
            </ng-template>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'edit_sapId'">SapId</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="SapId格式錯誤！">
              <input [attr.id]="'edit_sapid'" formControlName="sapId" nz-input
                  placeholder="SapId" autocomplete="off" />
          </nz-form-control>
      </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'edit_phoneNumber'">手機號碼</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="號碼格式不對！">
                <input [attr.id]="'edit_phoneNumber'" formControlName="phoneNumber" nz-input
                    placeholder="手機號碼" autocomplete="off" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'edit_email'">Email</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="郵箱格式不對！">
              <input [attr.id]="'edit_email'" formControlName="email" nz-input
                  placeholder="Email" autocomplete="off" />
          </nz-form-control>
      </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'edit_sex'">性別</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="roleNameErrorTpl">
                <nz-radio-group [attr.id]="'edit_sex'" formControlName="sex">
                    <label nz-radio [nzValue]="0">未知</label>
                    <label nz-radio [nzValue]="1">男</label>
                    <label nz-radio [nzValue]="2">女</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">系統角色</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="roleNameErrorTpl">
                <nz-select nzAllowClear nzPlaceHolder="請選擇" [formControlName]="'roleIds'" nzMode="multiple">
                    <nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.name"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">選擇部門</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-tree-select #menuTree [nzNodes]="departmentNode" nzPlaceHolder="請選擇" formControlName="department"
                    nzVirtualHeight="300px">
                </nz-tree-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">選擇職務</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select nzAllowClear nzPlaceHolder="請選擇" [attr.id]="'roleid'" formControlName="positions"
                    nzMode="multiple">
                    <nz-option *ngFor="let role of positionOptions" [nzValue]="role.id.toString()"
                        [nzLabel]="role.name">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'edit_isActive'">啟用狀態</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="roleNameErrorTpl">
                <nz-switch [attr.id]="'edit_isActive'" formControlName="isActive" nzCheckedChildren="啟用"
                    nzUnCheckedChildren="停用"></nz-switch>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" class="mr-10">提交</button>
                <button nz-button type="reset" (click)="cancelEdit()">取消</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>

<ng-template #pwdContentTpl>
    <form nz-form [formGroup]="passwordSetForm" (ngSubmit)="submitPassword()">
        <nz-form-item>
            <nz-form-label [nzRequired]="isNewUser" [nzSm]="6" [nzXs]="24" [nzFor]="'edit_password'">密碼</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="passwordErrorTpl">
                <input type="password" [attr.id]="'edit_password'" formControlName="password" nz-input placeholder="密碼"
                    autocomplete="off" />
            </nz-form-control>
            <ng-template #passwordErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    請輸入密碼！
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                    密碼長度不能超過30！
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength')">
                    密碼長度不能小於4！
                </ng-container>
            </ng-template>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" class="mr-10">提交</button>
                <button nz-button type="reset" (click)="cancelEdit()">取消</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>

<ng-template #roleNameErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
        請輸入內容！
    </ng-container>
</ng-template>
