<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<div id="printThis">
<!-- <h1 mat-dialog-title>{{Title}}</h1> -->
<mat-dialog-content style="max-height: 80vh;display: contents;" id="printable">
    <div class="row col-md-6 col-sm-6" style="height: 100px;display:inline-block">
      <img src="\assets\千附實業.png" *ngIf="iscf" style="float: left;position:relative;left:10px">
      <img src="\assets\千附精密.png" *ngIf="!iscf" style="float: left;position:relative;left:10px">
      <qrcode style="float:right;position:absolute;left:70vw" [qrdata]="deliverydata.DeliveryNum" [elementType]="'string'" [width]="100" [scale]="1" [errorCorrectionLevel]="'M'" class="printqr"></qrcode>
    </div>
      <div style="border:1px solid;margin:15px;font-size:20px;padding:15px" class="row col-md-12 col-sm-12">
      <div class="col-md-2 col-sm-2" style="margin-top: 15px;">出貨單號</div>
      <div class="col-md-4 col-sm-4" style="margin-top: 15px;">{{deliverydata.DeliveryNum}}</div>
      <div class="col-md-2 col-sm-2" style="margin-top: 15px;">供應商</div>
      <div class="col-md-4 col-sm-4" style="margin-top: 15px;">{{deliverydata.VendorName}}</div>
      <div class="col-md-2 col-sm-2" style="margin-top: 15px;">出貨日期</div>
      <div class="col-md-4 col-sm-4" style="margin-top: 15px;">{{deliverydata.DeliveryDate| date:'yyyy-MM-dd'}}</div>
      <div class="col-md-2 col-sm-2" style="margin-top: 15px;">供應商地址</div>
      <div class="col-md-4 col-sm-4" style="margin-top: 15px;">{{deliverydata.Address}}</div>
      <div class="col-md-2 col-sm-2" style="margin-top: 15px;">送貨地址</div>
      <div class="col-md-4 col-sm-4" style="margin-top: 15px;">{{deliverydata.DeliveryPlace}}</div>
      <div class="col-md-2 col-sm-2" style="margin-top: 15px;">供應商電話</div>
      <div class="col-md-4 col-sm-4" style="margin-top: 15px;">{{deliverydata.TelPhone}}</div>
      <div class="col-md-2 col-sm-2" style="margin-top: 15px;">供應商單號</div>
      <div class="col-md-4 col-sm-4" style="margin-top: 15px;">{{deliverydata.DeliveryVendorsn}}</div>
      <div class="col-md-2 col-sm-2" style="margin-top: 15px;">經辦人員</div>
      <div class="col-md-4 col-sm-4" style="margin-top: 15px;">{{deliverydata.DeliveryManager}}</div>
    </div>

    <nz-table #basicTable [nzData]="rowData" [nzFrontPagination]="false" [nzShowPagination]="false" style="font-size: 30px;">
      <thead>
        <tr>
          <!-- <th></th> -->
          <th>項次</th>
          <th>物料</th>
          <th>物料說明</th>
          <th>採購單號</th>
          <th>採購項次</th>
          <th>數量</th>
          <th>單位</th>
          <th>工單號碼</th>
          <th>工單項次</th>
          <th>儲位</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index">
          <!-- <td><qrcode style="float: right" [qrdata]="'/srm/deliveryreceive/${data.DeliveryLId}/${deliverydata.DeliveryNum}'" [width]="10" [scale]="1" [errorCorrectionLevel]="'M'"></qrcode></td> -->
          <!-- <td><qrcode style="float: right" [qrdata]="data.Url" [width]="10" [scale]="3" [errorCorrectionLevel]="'M'" ></qrcode></td> -->
          <td>{{ i+1 }}</td>
          <td>{{ data.Matnr }}</td>
          <td>{{ data.Description }}</td>
          <td>{{ data.PoNum }}</td>
          <td>{{ data.PoLId }}</td>
          <td>{{ data.DeliveryQty }}</td>
          <td></td>
          <td>{{ data.WoNum }}</td>
          <td>{{ data.WoItem }}</td>
          <td>{{ data.Cell }}</td>
          <!-- <td>
            <a>Action 一 {{ data.name }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
    <div>
      <p style="margin-top:30px;font-size:18px;text-align: right;">
        倉儲簽名
        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </p>
    </div>
    <div>
      <p style="margin-top:25px;text-align: center;">本次交貨以此出貨單為憑證</p>
    </div>
    <!-- <ag-grid-angular #agGrid style="width: 100%; height: 400px;" id="myGrid" class="ag-theme-alpine"
      [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowGroupPanelShow]="rowGroupPanelShow"
      [rowGroupPanelShow]="true" [rowData]="rowData" (gridReady)="onGridReady($event)" [enableCharts]="true"
      [enableRangeSelection]="true" [groupUseEntireRow]="false" [suppressAggFuncInHeader]="true"></ag-grid-angular> -->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close mat-raised-button nbButton style="margin-right: 20px;">關閉</button>
  <button mat-button cdkFocusInitial (click)="print()">列印</button>
</mat-dialog-actions>
</div>
