<nz-card>
  <h1>歡迎登入SRM系統</h1>
</nz-card>

<!-- <nz-row [nzGutter]="10">
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="data.userCount" [nzTitle]="'用戶數量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="data.roleCount" [nzTitle]="'角色數量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="data.departmentCount" [nzTitle]="'部門數量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="data.positionCount" [nzTitle]="'職位數量'"></nz-statistic>
        </nz-card>
    </nz-col>
</nz-row>

<nz-row [nzGutter]="10">
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="workingSet" [nzTitle]="'應用使用記憶體'" [nzSuffix]="'MB'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="gcHeapSize" [nzTitle]="'垃圾回收堆記憶體'" [nzSuffix]="'MB'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="gen0Count" [nzTitle]="'第0代垃圾數量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="gen1Count" [nzTitle]="'第1代垃圾數量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="gen2Count" [nzTitle]="'第2代垃圾數量'"></nz-statistic>
        </nz-card>
    </nz-col>
</nz-row>

<nz-row [nzGutter]="10">
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="lohSize" [nzTitle]="'大對象堆'" [nzSuffix]="'B'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="pohSize" [nzTitle]="'固定對象堆'" [nzSuffix]="'B'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="gen0Size" [nzTitle]="'第0代垃圾記憶體'" [nzSuffix]="'B'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="gen1Size" [nzTitle]="'第1代垃圾記憶體'" [nzSuffix]="'B'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="gen2Size" [nzTitle]="'第2代垃圾記憶體'" [nzSuffix]="'B'"></nz-statistic>
        </nz-card>
    </nz-col>
</nz-row>

<nz-row [nzGutter]="10">
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="handelThreadPoolThreadCount" [nzTitle]="'線程池線程數量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="handelMonitorLockContentionCount" [nzTitle]="'爭搶鎖數量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="threadPoolQueueLength" [nzTitle]="'線程池隊列長度'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="threadPoolCompletedWorkItemCount" [nzTitle]="'線程池完成工作數量'"></nz-statistic>
        </nz-card>
    </nz-col>
</nz-row>

<div nz-row nzGutter="10">
    <div nz-col class="gutter-row" nzMd="8" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="當前應用Cpu利用率">
            <div id="c4"></div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row" nzMd="8" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="當前應用記憶體使用">
            <div id="c6"></div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row" nzMd="8" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="垃圾回收空間比例">
            <div id="c2" style="text-align: center;overflow: hidden;"></div>
        </nz-card>
    </div>
</div>

<div nz-row nzGutter="10">
    <div nz-col class="gutter-row" nzMd="8" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="G2框選過濾圖形">
            <div id="c5"></div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row" nzMd="8" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="G2圓角堆疊柱狀圖">
            <div id="c3" style="text-align: center;overflow: hidden;"></div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row" nzMd="8" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="G2條形圖">
            <div id="c1" style="text-align: center;overflow: hidden;"></div>
        </nz-card>
    </div>
</div> -->
