<br>
<nz-card [nzSize]="'small'" id="find">
  <form nz-form [nzLayout]="'inline'" [formGroup]="form_searchQot" (ngSubmit)="searchQOT()">
    <nz-form-item>
      <nz-form-label [nzFor]="'rfqno'">詢價單號</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="詢價單號" [formControlName]="'rfqno'" [attr.id]="'rfqno'"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'qotmatnr'">料號</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="料號" [formControlName]="'qotmatnr'" [attr.id]="'qotmatnr'"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'qotstatus'">報價狀態</nz-form-label>
      <nz-form-control>
        <nz-select [formControlName]="'qotstatus'"  style="width: 100px;" ngModel="1">
          <nz-option nzValue="0" nzLabel="全部"></nz-option>
          <nz-option nzValue="1" nzLabel="初始"></nz-option><!--初始、儲存-->
          <!--<nz-option nzValue="20" nzLabel="已回覆"></nz-option>-->
          <nz-option nzValue="5" nzLabel="確認"></nz-option><!--確認表示該詢價單所有報價單皆回覆-->
          <nz-option nzValue="6" nzLabel="拒絕"></nz-option>
          <!--<nz-option nzValue="17" nzLabel="失效"></nz-option>--><!--失效表詢價結束，無法查到..-->
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button  class="mr-10" nzType="primary">查詢</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>



<nz-card>
<p style=" font-weight: bold; font-style: inherit;  font-size: 30px;text-align:left;">待辦清單</p>
<ag-grid-angular style="width: 1300px; height: 650px;"
                 class="ag-theme-alpine"
                 [rowData]="rowDataQot"
                 [columnDefs]="columnDefs"
                 (ng-click)="onRowClicked($event)"
                 [rowMultiSelectWithClick]=true
                 [masterDetail]="true"
                 [detailCellRendererParams]="detailCellRendererParams"
                 [defaultColDef]="defaultColDef"
                 [pagination]="true"
                 [paginationPageSize]="15"

                >
</ag-grid-angular>
<div class="mt-10">
  <nz-pagination [(nzPageSize)]="size" [(nzPageIndex)]="page" [nzTotal]="total" nzShowSizeChanger
                 nzShowQuickJumper (nzPageIndexChange)="pageChange()">
  </nz-pagination>
</div>
<app-file-modal #filemodal></app-file-modal>
</nz-card>
<!--<mat-tab-group style="font-family:微軟正黑體;">


    <mat-tab label="材料明細">
      <ag-grid-angular #agGrid
                       style="width: 59%; height: 200px;border:solid"
                       id="myGrid"
                       [columnDefs]="columnDefs"
                       [suppressDragLeaveHidesColumns]="true"
                       [suppressMakeColumnVisibleAfterUnGroup]="true"
                       [rowData]="rowData_Material"
                       (gridReady)="onGridReady($event)"
                       [enableCharts]="true"
                       [enableRangeSelection]="true"
                       [masterDetail]="true"
                       [undoRedoCellEditing]="true"
                       [undoRedoCellEditingLimit]="5"
                       [detailRowAutoHeight]="true"
                       class="ag-theme-alpine"
                       [defaultColDef]="defaultColDef"
                       [rowSelection]= "rowSelection"
                       [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
    </mat-tab>
</mat-tab-group>-->


