<div class="content" style="width: 93%;">
  <div class="left200">
    <nz-card [nzSize]="'small'">
      <form nz-form [formGroup]="matnrList">
        <nz-form-item>
          <!--<nz-select style="width: 20%"
             nzShowSearch
             formControlName="selectedMatnr"
             (ngModelChange)="search()">
    <nz-option *ngFor="let item of matnrs" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
  </nz-select>-->
          <nz-tree [nzData]="nodes" nzShowIcon="true" (nzClick)="changedMatnr($event)" [nzExpandedIcon]="mutiExpandedIconTpl">
            <ng-template #mutiExpandedIconTpl let-node>
              <i *ngIf="!node.origin.isLeaf" nz-icon [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'"
                 style="color: lightgray;"></i>
              <i *ngIf="node.origin.isLeaf" nz-icon nzType="team" class="ant-tree-switcher-line-icon"></i>
            </ng-template>
          </nz-tree>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
  <div class="right200">
    <nz-card [nzSize]="'small'">
      <form nz-form [formGroup]="mats">
        <nz-form-item>
          <div class="row" style="width:100%">
            <div class="col-6">
              詢價人員:{{rfq==null?"":rfq.h.sourcerName}}
            </div>
            <div class="col-3">
              詢價截止日期:{{rfq==null?"":rfq.h.deadline_str}}
            </div><!--材料規格	長	寬	高	重量	密度	機種名稱	詢價數量-->
            <div class="col-3">
              詢價單狀態:{{rfq==null?"":rfq.h.viewstatus}}
            </div>
            <div class="col-3">
              材料規格:{{matnrIndex==null?"": rfq.m[matnrIndex].material}}
            </div>
            <div class="col-3">
              長:{{matnrIndex==null?"": rfq.m[matnrIndex].length}}
            </div>
            <div class="col-3">
              寬:{{matnrIndex==null?"": rfq.m[matnrIndex].width}}
            </div>
            <div class="col-3">
              高:{{matnrIndex==null?"": rfq.m[matnrIndex].height}}
            </div>
            <div class="col-3">
              重量:{{matnrIndex==null?"": rfq.m[matnrIndex].weight}}
            </div>
            <div class="col-3">
              密度:{{matnrIndex==null?"": rfq.m[matnrIndex].density}}
            </div>
            <div class="col-3">
              機種名稱:{{matnrIndex==null?"": rfq.m[matnrIndex].machineName}}
            </div>
            <div class="col-3">
              詢價數量:{{matnrIndex==null?"": rfq.m[matnrIndex].qty}}
            </div>
          </div>
        </nz-form-item>
        <nz-form-item>
          <mat-tab-group class="inforecord">
            <mat-tab label="彙總表">
              <h1>
                <ng-container *ngIf="!caseId">
                  <button *canOperate="'RFQ_ACTION'" nz-button style="margin-left: 20px" (click)="start()"><i nz-icon nzType="send"></i>啟動簽核</button>
                </ng-container>
                <ng-container *ngIf="caseId&&canEdit">
                  <button *canOperate="'RFQ_ACTION'" nz-button style="margin-left: 20px" (click)="save()"><i nz-icon nzType="send"></i>保存</button>
                </ng-container>
              </h1>
                <div>
                  <ag-grid-angular #agGrid
                                   style="width: 93%; height: 300px; border: solid"
                                   id="myGrid"
                                   [columnDefs]="columnDefs_summary"
                                   [suppressDragLeaveHidesColumns]="true"
                                   [suppressMakeColumnVisibleAfterUnGroup]="true"
                                   [rowData]="rowData_summary"
                                   [enableCharts]="true"
                                   [enableRangeSelection]="true"
                                   [undoRedoCellEditing]="true"
                                   [undoRedoCellEditingLimit]="5"
                                   [detailRowAutoHeight]="true"
                                   (gridReady)="onGridReady_summary($event)"
                                   class="ag-theme-alpine"
                                   [defaultColDef]="defaultColDef"
                                   [rowSelection]="rowSelection"
                                   [stopEditingWhenCellsLoseFocus]="true"
                                   [suppressRowClickSelection]="true"
                                   [frameworkComponents]="frameworkComponents"
                                   [isRowSelectable]="isRowSelectable"
                                   [getRowStyle] ="getRowStyle"></ag-grid-angular>
                </div>
</mat-tab>
            <mat-tab label="材料">
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_material"
                               [suppressDragLeaveHidesColumns]="true"
                               [suppressMakeColumnVisibleAfterUnGroup]="true"
                               [rowData]="rowData_material"
                               [enableCharts]="true"
                               [enableRangeSelection]="true"
                               [undoRedoCellEditing]="true"
                               [undoRedoCellEditingLimit]="5"
                               [detailRowAutoHeight]="true"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </mat-tab>
            <mat-tab label="加工費用">
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_process"
                               [suppressDragLeaveHidesColumns]="true"
                               [suppressMakeColumnVisibleAfterUnGroup]="true"
                               [rowData]="rowData_process"
                               [enableCharts]="true"
                               [enableRangeSelection]="true"
                               [undoRedoCellEditing]="true"
                               [undoRedoCellEditingLimit]="5"
                               [detailRowAutoHeight]="true"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </mat-tab>
            <mat-tab label="表面處理">
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_surface"
                               [suppressDragLeaveHidesColumns]="true"
                               [suppressMakeColumnVisibleAfterUnGroup]="true"
                               [rowData]="rowData_surface"
                               [enableCharts]="true"
                               [enableRangeSelection]="true"
                               [undoRedoCellEditing]="true"
                               [undoRedoCellEditingLimit]="5"
                               [detailRowAutoHeight]="true"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span [ngClass]="{'color-red': isError?'red':'black'}">其他費用</span>
              </ng-template>
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_other"
                               [suppressDragLeaveHidesColumns]="true"
                               [suppressMakeColumnVisibleAfterUnGroup]="true"
                               [rowData]="rowData_other"
                               [enableCharts]="true"
                               [enableRangeSelection]="true"
                               [undoRedoCellEditing]="true"
                               [undoRedoCellEditingLimit]="5"
                               [detailRowAutoHeight]="true"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </mat-tab>
            <mat-tab label="總價格">
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_inforecord"
                               [rowData]="rowData_inforecord"
                               (gridReady)="onGridReady_inforecord($event)"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [suppressRowClickSelection]="true"
                               [components]="components"></ag-grid-angular>
            </mat-tab>
          </mat-tab-group>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>

<ng-template #ctest1>
  <span>修改總計</span>
</ng-template>
<ng-template #ctest2>
  <form nz-form [formGroup]="editForm" (ngSubmit)="edit()">
    <nz-form-item *ngIf="false">
      <nz-form-label>QotID</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="QotID" formControlName="qotId"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">總計(NT)</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="priceErrorTpl">
        <input placeholder="總計(NT)" formControlName="price"
               autocomplete="off" nz-input>
        <ng-template #priceErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">需為正整數</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">價格單位</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="unitErrorTpl">
        <input nz-input placeholder="價格單位" formControlName="unit"
               autocomplete="off" />
      </nz-form-control>
      <ng-template #unitErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
        <ng-container *ngIf="control.hasError('pattern')">需為正整數</ng-container>
      </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">幣別</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="欄位必填">
        <!--<input nz-input placeholder="幣別" formControlName="unit"
      autocomplete="off" />-->
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="選擇幣別" formControlName="currency">
          <nz-option *ngFor="let option of CurrencyList" [nzLabel]="option.currencyName" [nzValue]="option.currency"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">採購組織</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="欄位必填">
        <input nz-input placeholder="採購組織" formControlName="org" disabled="disabled"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">資訊紀錄種類</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="欄位必填">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="選擇資訊紀錄種類" formControlName="infoKind">
          <nz-option *ngFor="let option of InfoKindList" [nzLabel]="option.value + ' ' + option.name" [nzValue]="option.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">資訊紀錄類型</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="欄位必填">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="選擇資訊紀錄類型" formControlName="type">
          <nz-option *ngFor="let option of TypeList" [nzLabel]="option.value + ' ' + option.name" [nzValue]="option.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">排序條件</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input placeholder="排序條件" formControlName="sortl" 
               autocomplete="off" />
        <br />
        <small *ngIf="editForm.hasError('SORTLRequired')" style="color:red" class="mat-text-warn data_light">
          {{'資訊紀錄類型W時，排序條件必填'}}
        </small>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzErrorTip="欄位必填">採購群組</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <!--<input nz-input placeholder="採購群組" formControlName="ekgry"
      autocomplete="off" />-->
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="採購群組" formControlName="ekgry">
          <nz-option *ngFor="let option of EkgryList" [nzLabel]="option.ekgry" [nzValue]="option.ekgry"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">計畫交貨時間</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="leadTimeErrorTpl">
        <input nz-input placeholder="計畫交貨時間" formControlName="leadTime"
               autocomplete="off" />
        <ng-template #leadTimeErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
          <ng-container *ngIf="control.hasError('min') && !control.hasError('pattern')">必須大於等於1</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">標準採購數量</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="standQtyErrorTpl">
        <input nz-input placeholder="標準採購數量" formControlName="standQty"
               autocomplete="off" />
        <ng-template #standQtyErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
          <ng-container *ngIf="control.hasError('min') && !control.hasError('pattern')">必須大於等於1</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">最小採購數量</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="minQtyErrorTpl">
        <input nz-input placeholder="最小採購數量" formControlName="minQty"
               autocomplete="off" />
        <ng-template #minQtyErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">欄位必填</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">輸入的格式不正確</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">稅碼</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="欄位必填">
        <!--<input nz-input placeholder="稅碼" formControlName="taxcode"
      autocomplete="off" />-->
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="選擇稅碼" formControlName="taxcode">
          <nz-option *ngFor="let option of TaxcodeList" [nzLabel]="option.taxcode + ' ' + option.taxcodeName" [nzValue]="option.taxcode"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">生效日期</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="欄位必填">
        <nz-date-picker style="width: 200px;" nzPlaceHolder="日期選擇" name="effectiveDate" formControlName="effectiveDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">有效日期</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="欄位必填">
        <nz-date-picker style="width: 200px;" nzPlaceHolder="日期選擇" name="expirationDate" formControlName="expirationDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">備註</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="欄位必填">
        <textarea nz-input
                  placeholder="備註"
                  [nzAutosize]="{ minRows: 2 }" formControlName="note"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" class="mr-10">提交</button>
        <button nz-button type="reset" (click)="cancelEdit()">取消</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  </ng-template>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
