<div class="content" style="width: 93%;">
  <div class="left200">
    <nz-card [nzSize]="'small'">
      <form nz-form [formGroup]="matnrList">
        <nz-form-item>
          <!--<nz-select style="width: 20%"
             nzShowSearch
             formControlName="selectedMatnr"
             (ngModelChange)="search()">
    <nz-option *ngFor="let item of matnrs" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
  </nz-select>-->
          <nz-tree [nzData]="nodes" nzShowIcon="true" (nzClick)="changedMatnr($event)" [nzExpandedIcon]="mutiExpandedIconTpl">
            <ng-template #mutiExpandedIconTpl let-node>
              <i *ngIf="!node.origin.isLeaf" nz-icon [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'"
                 style="color: lightgray;"></i>
              <i *ngIf="node.origin.isLeaf" nz-icon nzType="team" class="ant-tree-switcher-line-icon"></i>
            </ng-template>
          </nz-tree>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
  <div class="right200">
    <nz-card [nzSize]="'small'">
      <form nz-form [formGroup]="mats">
        <nz-form-item>
          <div class="row" style="width:100%">
            <div class="col-6">
              詢價人員:{{rfq==null?"":rfq.h.sourcerName}}
            </div>
            <div class="col-6">
              詢價截止日期:{{rfq==null?"":rfq.h.deadline_str}}
            </div><!--材料規格	長	寬	高	重量	密度	機種名稱	詢價數量-->
            <div class="col-3">
              材料規格:{{matnrIndex==null?"": rfq.m[matnrIndex].material}}
            </div>
            <div class="col-3">
              長:{{matnrIndex==null?"": rfq.m[matnrIndex].length}}
            </div>
            <div class="col-3">
              寬:{{matnrIndex==null?"": rfq.m[matnrIndex].width}}
            </div>
            <div class="col-3">
              高:{{matnrIndex==null?"": rfq.m[matnrIndex].height}}
            </div>
            <div class="col-3">
              重量:{{matnrIndex==null?"": rfq.m[matnrIndex].weight}}
            </div>
            <div class="col-3">
              密度:{{matnrIndex==null?"": rfq.m[matnrIndex].density}}
            </div>
            <div class="col-3">
              機種名稱:{{matnrIndex==null?"": rfq.m[matnrIndex].machineName}}
            </div>
            <div class="col-3">
              詢價數量:{{matnrIndex==null?"": rfq.m[matnrIndex].qty}}
            </div>
          </div>
        </nz-form-item>
        <nz-form-item>
          <mat-tab-group>
            <mat-tab label="彙總表">
              <!--<ag-grid-angular #agGrid
       style="width: 93%; height: 300px; border: solid"
       id="myGrid"
       [columnDefs]="columnDefs_matnr"
       [suppressDragLeaveHidesColumns]="true"
       [suppressMakeColumnVisibleAfterUnGroup]="true"
       [rowData]="rowData_matnr"
       [enableCharts]="true"
       [enableRangeSelection]="true"
       [masterDetail]="true"
       [undoRedoCellEditing]="true"
       [undoRedoCellEditingLimit]="5"
       [detailRowAutoHeight]="true"
       class="ag-theme-alpine"
       [defaultColDef]="defaultColDef"
       [rowSelection]="rowSelection"
       [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>-->

              <!--<div class="mt-10">
                <nz-table #dataTable nzSize="middle" [nzData]="rowData_summary" nzShowPagination="false" nzFrontPagination="false"
                          nzBordered="true" [nzScroll]="{ x: '180px' }">
                  <thead>
                    <tr>
                      <th nzWidth="10px"
                          [nzLeft]="fixedColumn"></th>
                      <th nzAlign="left" nzWidth="20px">修改</th>
                      <th nzAlign="left" nzWidth="20px">詢價單號</th>
                      <th nzAlign="left" nzWidth="20px">詢價人員</th>
                      <th nzAlign="left" nzWidth="20px">詢價截止日期</th>
                      <th nzAlign="left" nzWidth="20px">供應商</th>
                      <th nzAlign="left" nzWidth="20px">供應商名稱</th>
                      <th nzAlign="left" nzWidth="20px">料號</th>
                      <th nzAlign="left" nzWidth="20px">材料規格</th>
                      <th nzAlign="left" nzWidth="20px">成品尺寸</th>
                      <th nzAlign="left" nzWidth="20px">工件重量(KG)</th>
                      <th nzAlign="left" nzWidth="20px">機種名稱</th>
                      <th nzAlign="left" nzWidth="20px">報假單號</th>
                      <th nzAlign="left" nzWidth="20px">材料名稱</th>
                      <th nzAlign="left" nzWidth="20px">材料單價(NT/KG)</th>
                      <th nzAlign="left" nzWidth="20px">長(mm)</th>
                      <th nzAlign="left" nzWidth="20px">寬(mm)</th>
                      <th nzAlign="left" nzWidth="20px">厚(mm)</th>
                      <th nzAlign="left" nzWidth="20px">密度(g/cm3)</th>
                      <th nzAlign="left" nzWidth="20px">重量(KG)</th>
                      <th nzAlign="left" nzWidth="20px">材料成本(NT)</th>
                      <th nzAlign="left" nzWidth="20px">備註</th>
                      <th nzAlign="left" nzWidth="20px">機台</th>
                      <th nzAlign="left" nzWidth="20px">工序</th>
                      <th nzAlign="left" nzWidth="20px">工時(時)</th>
                      <th nzAlign="left" nzWidth="20px">單價(時)</th>
                      <th nzAlign="left" nzWidth="20px">小計</th>
                      <th nzAlign="left" nzWidth="20px">備註</th>
                      <th nzAlign="left" nzWidth="20px">工序</th>
                      <th nzAlign="left" nzWidth="20px">數量</th>
                      <th nzAlign="left" nzWidth="20px">單價</th>
                      <th nzAlign="left" nzWidth="20px">小計</th>
                      <th nzAlign="left" nzWidth="20px">計價方式</th>
                      <th nzAlign="left" nzWidth="20px">備註</th>
                      <th nzAlign="left" nzWidth="20px">項目</th>
                      <th nzAlign="left" nzWidth="20px">說明</th>
                      <th nzAlign="left" nzWidth="20px">單價</th>
                      <th nzAlign="left" nzWidth="20px">備註</th>
                      <th nzAlign="left" nzWidth="20px">A</th>
                      <th nzAlign="left" nzWidth="20px">B</th>
                      <th nzAlign="left" nzWidth="20px">C</th>
                      <th nzAlign="left" nzWidth="20px">D</th>
                      <th nzAlign="left" nzWidth="20px">總計(NT)</th>
                      <th nzAlign="left" nzWidth="20px">幣別</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataTable.data;let i = index" (click)="open(data.id)">
                      <td [nzLeft]="fixedColumn"
                          [nzShowCheckbox]="true"
                          [(nzChecked)]="data.checked"></td>
                      <td nzAlign="left">{{ data.srmMatnr1 }}</td>
                      <td nzAlign="left">{{ data.description }}</td>
                      <td nzAlign="left">{{ data.matnrGroup }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>-->

              <h1>
                <button nz-button style="margin-left: 20px" (click)="start()"><i nz-icon nzType="send"></i>啟動簽核</button>
              </h1>
                <div>
                  <ag-grid-angular #agGrid
                                   style="width: 93%; height: 300px; border: solid"
                                   id="myGrid"
                                   [columnDefs]="columnDefs_summary"
                                   [suppressDragLeaveHidesColumns]="true"
                                   [suppressMakeColumnVisibleAfterUnGroup]="true"
                                   [rowData]="rowData_summary"
                                   [enableCharts]="true"
                                   [enableRangeSelection]="true"
                                   [undoRedoCellEditing]="true"
                                   [undoRedoCellEditingLimit]="5"
                                   [detailRowAutoHeight]="true"
                                   (gridReady)="onGridReady_summary($event)"
                                   class="ag-theme-alpine"
                                   [defaultColDef]="defaultColDef"
                                   [rowSelection]="rowSelection"
                                   [stopEditingWhenCellsLoseFocus]="true"
                                   [suppressRowClickSelection]="true"
                                   [frameworkComponents]="frameworkComponents"
                                   [isRowSelectable]="isRowSelectable"></ag-grid-angular>
                </div>
</mat-tab>
            <mat-tab label="材料">
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_material"
                               [suppressDragLeaveHidesColumns]="true"
                               [suppressMakeColumnVisibleAfterUnGroup]="true"
                               [rowData]="rowData_material"
                               [enableCharts]="true"
                               [enableRangeSelection]="true"
                               [undoRedoCellEditing]="true"
                               [undoRedoCellEditingLimit]="5"
                               [detailRowAutoHeight]="true"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </mat-tab>
            <mat-tab label="加工費用">
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_process"
                               [suppressDragLeaveHidesColumns]="true"
                               [suppressMakeColumnVisibleAfterUnGroup]="true"
                               [rowData]="rowData_process"
                               [enableCharts]="true"
                               [enableRangeSelection]="true"
                               [undoRedoCellEditing]="true"
                               [undoRedoCellEditingLimit]="5"
                               [detailRowAutoHeight]="true"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </mat-tab>
            <mat-tab label="表面處理">
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_surface"
                               [suppressDragLeaveHidesColumns]="true"
                               [suppressMakeColumnVisibleAfterUnGroup]="true"
                               [rowData]="rowData_surface"
                               [enableCharts]="true"
                               [enableRangeSelection]="true"
                               [undoRedoCellEditing]="true"
                               [undoRedoCellEditingLimit]="5"
                               [detailRowAutoHeight]="true"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </mat-tab>
            <mat-tab label="其他費用">
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_other"
                               [suppressDragLeaveHidesColumns]="true"
                               [suppressMakeColumnVisibleAfterUnGroup]="true"
                               [rowData]="rowData_other"
                               [enableCharts]="true"
                               [enableRangeSelection]="true"
                               [undoRedoCellEditing]="true"
                               [undoRedoCellEditingLimit]="5"
                               [detailRowAutoHeight]="true"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [stopEditingWhenCellsLoseFocus]="true"></ag-grid-angular>
            </mat-tab>
            <mat-tab label="總價格">
              <ag-grid-angular #agGrid
                               style="width: 100%; height: 300px; border: solid"
                               id="myGrid"
                               [columnDefs]="columnDefs_inforecord"
                               [rowData]="rowData_inforecord"
                               (gridReady)="onGridReady_inforecord($event)"
                               class="ag-theme-alpine"
                               [defaultColDef]="defaultColDef"
                               [rowSelection]="rowSelection"
                               [suppressRowClickSelection]="true"
                               [components]="components"></ag-grid-angular>
            </mat-tab>
          </mat-tab-group>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>

<ng-template #ctest1>
  <span>修改總計</span>
</ng-template>
<ng-template #ctest2>
  <form nz-form [formGroup]="editFrom" (ngSubmit)="edit()">
    <nz-form-item *ngIf="false">
      <nz-form-label>QotID</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="QotID" formControlName="qotId"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">總計(NT)</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input placeholder="總計(NT)" formControlName="price"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">幣別</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input placeholder="幣別" formControlName="unit"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">採購群組</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input placeholder="採購群組" formControlName="ekgry"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">計畫交貨時間</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input placeholder="計畫交貨時間" formControlName="leadTime"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">標準採購數量</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input placeholder="標準採購數量" formControlName="standQty"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">最小採購數量</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input placeholder="最小採購數量" formControlName="minQty"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">稅碼</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input placeholder="稅碼" formControlName="taxcode"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">生效日期</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker style="width: 200px;" nzPlaceHolder="日期選擇" name="deadLine" formControlName="effectiveDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">有效日期</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker style="width: 200px;" nzPlaceHolder="日期選擇" name="deadLine" formControlName="expirationDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">提交</button>
        <button nz-button type="reset" (click)="cancelEdit()">取消</button>
      </nz-form-control>
      </nz-form-item>
      </form>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
