<nz-spin [nzSpinning]="isSpinning">
<nz-card [nzSize]="'small'" id="searchBar">
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
    <nz-form-item>
      <nz-form-label [nzFor]="'PO_NUM'">採購單號</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="採購單號" [formControlName]="'PO_NUM'" [attr.id]="'PO_NUM'"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzFor]="'ORG'">廠區</nz-form-label>
      <nz-form-control>
        <nz-select [formControlName]="'ORG'" style="width: 100px;">
          <!-- <nz-option nzValue="0" nzLabel="全部"></nz-option> -->
          <!-- <nz-option nzValue="1100" nzLabel="廠工事業處"></nz-option> -->
          <nz-option nzValue="1200" nzLabel="機械事業處"></nz-option>
          <nz-option nzValue="3100" nzLabel="千附精密"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">搜索</button>
        <!--<button nz-button nzType="outline" type="button" class="ml-10"
          (click)="resetSearchForm()">
    重置
  </button>-->

      </nz-form-control>
    </nz-form-item>
  </form>

</nz-card>
  <nz-card>
    <nz-date-picker style="width: 130px;" [(ngModel)]="deliverydate" nzPlaceHolder="請選擇出貨日期" *canOperate="'DO_CREATE'"></nz-date-picker>
    &nbsp;&nbsp;&nbsp;
    <input nz-input style="width: 130px;" [(ngModel)]="vendorsn" placeholder="供應商出貨單號" />
    &nbsp;&nbsp;&nbsp;
    <input nz-input style="width: 130px;" [(ngModel)]="manager" placeholder="經辦人員" />
    <button nz-button nzType="primary" type="button" style="margin-top: -10px;margin-bottom: 10px; margin-left: 20px;" (click)="getSelectedRowData($event)" *canOperate="'DO_CREATE'">建立出貨單</button>
    <button
        nz-popconfirm
        nzPopconfirmTitle="將耗時2分鐘左右"
        (nzOnConfirm)="sapDelivery($event)"
        (nzOnCancel)="cancel()"
        nzPopconfirmPlacement="top"
        nz-button
        nzType="primary" type="button" style="margin-top: -10px;margin-bottom: 10px; margin-left: 20px;"
        *canOperate="'SAP_DELIVERY'"
      >
      依照sap資料重新生成出貨單
      </button>
  <ag-grid-angular
    #agGrid
    style="width: 100%; height: 350px;"
    id="myGrid"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [defaultColDef]="defaultColDef"
    [suppressRowClickSelection]="true"
    [groupSelectsChildren]="true"
    [debug]="true"
    [rowSelection]="rowSelection"

    [pivotPanelShow]="pivotPanelShow"
    [enableRangeSelection]="true"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationNumberFormatter]="paginationNumberFormatter"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    [enableCellTextSelection]="true"
  ></ag-grid-angular>
</nz-card>
</nz-spin>
<!-- </div> -->
<!-- [rowGroupPanelShow]="rowGroupPanelShow" -->
