<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256–2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60 =" crossorigin="anonymous"></script>
<div class="two-column">
  <div class="right">
    <nz-card [nzSize]="'small'">
      <div class="col-md-12 colStyle">
        <h1 id="heading001" class="head1" style="display:none; font-weight: bold; font-style: inherit; font-family: 微軟正黑體; font-size: 24px; position: relative;">
          詢價單
          <span style="font-size: 12px; float: right; text-align: left; font: small-caption ">
            單號:{{H.rfqNum}}
            <br>狀態:{{H.viewstatus}}
          </span>
          <span style="font-size:12px;float:left;text-align: left; font: small-caption ">
            申請日期:{{H.C_Date}}
            <br>填單者:{{name}}
          </span>
        </h1>
        <div class="row">
          <div class="col-3">
            單號:{{H.rfqNum}}
          </div>
          <div class="col-3">
            狀態:{{H.viewstatus}}
          </div>
          <div class="col-3">
            申請日期:{{H.C_Date}}
          </div>
          <div class="col-3">
            填單者:{{name}}
          </div>
</div>
        </div>
      <div style="display: -webkit-box;margin-top:20px">
        <div>
          <form nz-form [nzLayout]="'inline'" [formGroup]="formDetail">
            <nz-form-item>
              <nz-form-label [nzFor]="'userName'">詢價人員</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="詢價人員" formControlName="sourcerName" readonly="readonly"
                       autocomplete="off" />
                <input nz-input placeholder="詢價人員" formControlName="sourcer" readonly="readonly" style="display:none"
                       autocomplete="off" />
                <button *canOperate="'RFQ_CREATE'" nz-button nzType="primary" style="margin-left: 20px;display:none" disabled="{{canModify==false}}" (click)="add(addSourcerTitleTpl,SourcerContentTpl)">選擇人員</button>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzFor]="'deadLine'">詢價截止日期</nz-form-label>
              <nz-form-control>
                <!--<nz-date-picker style="width: 200px;" nzPlaceHolder="日期選擇" name="deadLine" [(ngModel)]="H.deadline" disabled="{{canModify==false}}"></nz-date-picker>-->
                <nz-date-picker style="width: 200px;" nzPlaceHolder="日期選擇" name="deadLine" formControlName="deadline" disabled="{{canModify==false}}"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <!--<nz-form-item>
          <nz-form-label [nzFor]="'status'">狀態</nz-form-label>
          <nz-form-control>
            <label>{{H.viewstatus}}</label>
          </nz-form-control>
        </nz-form-item>-->
          </form>
        </div>
      </div>
      <!--<div style="height: 200px; overflow-y: scroll">-->
      <div>
        <button *canOperate="'RFQ_CREATE'" nz-button class="mr-10" disabled="{{canModify==false}}" (click)="save()"><i nz-icon nzType="save"></i>保存</button>
        <button *canOperate="'RFQ_CREATE'" nz-button class="mr-10" disabled="{{canModify==false}}" (click)="start()"><i nz-icon nzType="send"></i>啟動</button>
        <ng-container *ngIf="canCxl">
          <button *canOperate="'RFQ_CREATE'" nz-button disabled="{{canCxl==false}}" (click)="checkCancel()"><i nz-icon nzType="delete"></i>作廢</button>
        </ng-container>
        <ng-container *ngIf="canDel">
          <button *canOperate="'RFQ_CREATE'" nz-button disabled="{{canDel==false}}" (click)="delete()"><i nz-icon nzType="delete"></i>刪除</button>
          </ng-container>
      </div>
      <mat-tab-group>
        <mat-tab label="料號明細">
          <h1>
            <button *canOperate="'RFQ_CREATE'" nz-button style="margin-left: 20px" disabled="{{canModify==false}}" (click)="add(addMatnrTitleTpl,MatnrContentTpl)"><i nz-icon nzType="plus"></i>建立料號</button>
            <button *canOperate="'RFQ_CREATE'" nz-button style="margin-left: 20px" disabled="{{canModify==false}}" (click)="deleteMatnr()"><i nz-icon nzType="delete"></i>刪除料號</button>
          </h1>
          <ag-grid-angular #agGrid
                           style="width: 93%; height: 250px;border:solid"
                           id="myGrid"
                           [columnDefs]="columnDefs"
                           [suppressDragLeaveHidesColumns]="true"
                           [suppressMakeColumnVisibleAfterUnGroup]="true"
                           [rowData]="rowData_MATNR"
                           (gridReady)="onGridReady($event)"
                           [enableCharts]="true"
                           [enableRangeSelection]="true"
                           [undoRedoCellEditing]="true"
                           [undoRedoCellEditingLimit]="5"
                           [detailRowAutoHeight]="true"
                           class="ag-theme-alpine"
                           [defaultColDef]="defaultColDef"
                           [rowSelection]="rowSelection"
                           [stopEditingWhenCellsLoseFocus]="false"></ag-grid-angular>
        </mat-tab>
        <mat-tab label="供應商明細">
          <h1>
            <button *canOperate="'RFQ_CREATE'" nz-button style="margin-left: 20px" disabled="{{canModify==false}}" (click)="add(addVendorTitleTpl,VendorContentTpl)"><i nz-icon nzType="plus"></i>建立供應商</button>
            <button *canOperate="'RFQ_CREATE'" nz-button style="margin-left: 20px" disabled="{{canModify==false}}" (click)="deleteVendor()"><i nz-icon nzType="delete"></i>刪除供應商</button>
          </h1>
          <ag-grid-angular #agGrid
                           style="width: 93%; height: 250px; border: solid"
                           id="myGrid_VENDOR"
                           [columnDefs]="columnDefs_VENDOR"
                           [suppressDragLeaveHidesColumns]="true"
                           [suppressMakeColumnVisibleAfterUnGroup]="true"
                           [rowData]="rowData_VENDOR"
                           (gridReady)="onGridReady_VENDOR($event)"
                           [enableCharts]="true"
                           [enableRangeSelection]="true"
                           [undoRedoCellEditing]="true"
                           [undoRedoCellEditingLimit]="5"
                           [detailRowAutoHeight]="true"
                           class="ag-theme-alpine"
                           [defaultColDef]="defaultColDef"
                           [rowSelection]="rowSelection"></ag-grid-angular>
        </mat-tab>
      </mat-tab-group>
    </nz-card>
  </div>
</div>

<ng-template #addMatnrTitleTpl>
  <span>建立料號</span>
</ng-template>
<ng-template #addVendorTitleTpl>
  <span>建立供應商</span>
</ng-template>
<ng-template #addSourcerTitleTpl>
  <span>詢價人員</span>
</ng-template>
<ng-template #MatnrContentTpl>
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="searchMatnrList()">
    <nz-form-item>
      <nz-form-label>料號</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="料號" formControlName="matnr"
   autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary">搜索</button>
  </form>
  <div style="height: 300px; overflow: auto; margin-left: 20px ">
    <!--<nz-checkbox-group [(ngModel)]="MatnrList"></nz-checkbox-group>-->

    <div class="mt-10">
      <nz-table #dataTable nzSize="middle" [nzData]="MatnrList" nzShowPagination="false" nzFrontPagination="false"
                nzBordered="true" [nzScroll]="{ x: '180px' }">
        <thead>
          <tr>
            <th nzWidth="10px"
                [nzLeft]="fixedColumn"></th>
            <th nzAlign="left" nzWidth="20px">料號</th>
            <th nzAlign="left" nzWidth="20px">物料內文</th>
            <th nzAlign="left" nzWidth="20px">物料群組</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataTable.data;let i = index">
            <td [nzLeft]="fixedColumn"
                [nzShowCheckbox]="true"
                [(nzChecked)]="data.checked"
                (nzCheckedChange)="onMatnrChange($event,data.matnrId)"></td>
            <td nzAlign="left">{{ data.srmMatnr1 }}</td>
            <td nzAlign="left">{{ data.description }}</td>
            <td nzAlign="left">{{ data.matnrGroup }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>

  </div>
  <form nz-form [formGroup]="matnrListForm" (ngSubmit)="submitMatnrList()">
    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" class="mr-10">提交</button>
        <button nz-button type="reset" (click)="cancelEdit()">取消</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #VendorContentTpl>
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="searchVendorList()">
    <nz-form-item>
      <nz-form-label>供應商</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="供應商" formControlName="vendor"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary">搜索</button>
  </form>
  <div style="height: 300px; overflow: auto; margin-left: 20px ">
    <!--<nz-checkbox-group [(ngModel)]="VendorList"></nz-checkbox-group>-->
    <div class="mt-10">
      <nz-table #dataTable nzSize="middle" [nzData]="VendorList" nzShowPagination="false" nzFrontPagination="false"
                nzBordered="true">
        <thead>
          <tr>
            <th nzWidth="10px"
                [nzLeft]="fixedColumn"></th>
            <th nzAlign="left" nzWidth="20px">供應商代碼</th>
            <th nzAlign="left" nzWidth="20px">供應商名稱</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataTable.data;let i = index">
            <td [nzLeft]="fixedColumn"
                [nzShowCheckbox]="true"
                [(nzChecked)]="data.checked"></td>
            <td nzAlign="left">{{ data.srmVendor1 }}</td>
            <td nzAlign="left">{{ data.vendorName }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <form nz-form [formGroup]="vendorListForm" (ngSubmit)="submitVendorList()">
    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" class="mr-10">提交</button>
        <button nz-button type="reset" (click)="cancelEdit()">取消</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #SourcerContentTpl>
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="searchSourcerList()">
    <nz-form-item>
      <nz-form-label>詢價人員</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="詢價人員" formControlName="sourcer"
               autocomplete="off" />
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary">搜索</button>
  </form>
  <div style="height: 300px; overflow: auto; margin-left: 20px ">
    <nz-radio-group [(ngModel)]="radioValue">
      <label nz-radio [nzValue]="o.value" *ngFor="let o of SourcerList">{{ o.label }}</label>
    </nz-radio-group>
    <!--<div style="height: 100px; overflow: auto; margin-left: 20px ">
      <nz-checkbox-group [(ngModel)]="SourcerList" (change)="onChange($event)"></nz-checkbox-group>
    </div>-->
  </div>
  <form nz-form [formGroup]="sourcerListForm" (ngSubmit)="submitSourcerList()">
    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" class="mr-10">提交</button>
        <button nz-button type="reset" (click)="cancelEdit()">取消</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
